$--COLOR-bg: #000000;
$--COLOR-bg-alt: #000D07;
$--COLOR-clear: rgba(0,0,0,0);

$--COLOR-text: #C8C8C8;
$--COLOR-text-alt: #F2F2F2;
$--COLOR-text-dark: #4B4B4B;
$--COLOR-pop: #05FFA1;
$--COLOR-pop-alt: #04B16F;

$--COLOR-long: #0ab62f;
$--COLOR-short: #ac0303;

$--COLOR-border: #292929;