%clearfix:after {
  display: block;
  clear: both;
  content: "";
}

$grid-spacing: 1%;

.row {
  @extend %clearfix;

  & + & {
    margin-top: $grid-spacing;
  }

  &.no-gutters {
    .col-1 { width: (100% / 12); }
    .col-2 { width: (100% / 6); }
    .col-3 { width: (100% / 4); }
    .col-4 { width: (100% / 3); }
    .col-5 { width: (100% / 2.4); }
    .col-6 { width: (100% / 2); }
    .col-7 { width: (100% / 1.714285714285714); }
    .col-8 { width: (100% / 1.5); }
    .col-9 { width: (100% / 1.333333333333333); }
    .col-10 { width: (100% / 1.2); }
    .col-11 { width: (100% / 1.090909090909091); }
    .col-12 { width: 100%; }

    [class^="col-"] {
      float: left;
      margin-right: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    
      &:last-child {
        margin-right: 0;
        float: right;
      }
    }
  }
}

[class^="col-"] {
  float: left;
  margin-right: $grid-spacing;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:last-child {
    margin-right: 0%;
  }
}

.col-1 { width: (100% / 12) - ($grid-spacing); }
.col-2 { width: (100% / 6) - ($grid-spacing); }
.col-3 { width: (100% / 4) - ($grid-spacing); }
.col-4 { width: (100% / 3) - ($grid-spacing); }
.col-5 { width: (100% / 2.4) - ($grid-spacing); }
.col-6 { width: (100% / 2) - ($grid-spacing); }
.col-7 { width: (100% / 1.714285714285714) - ($grid-spacing); }
.col-8 { width: (100% / 1.5) - ($grid-spacing); }
.col-9 { width: (100% / 1.333333333333333) - ($grid-spacing); }
.col-10 { width: (100% / 1.2) - ($grid-spacing); }
.col-11 { width: (100% / 1.090909090909091) - ($grid-spacing); }
.col-12 { width: 100%; }