<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
<link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='styles/fonts.css') }}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

<script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>

<title>Minance | {{ title }}</title>