<!DOCTYPE html>
<html>
  <head>
    {% include "layouts/head.html" %}
    {% block head %} {% endblock head %}
  </head>
  <body>
    <header>
      <div class="header-sec-1">
        <div class="header-section left dropdown dropbtn" onclick="myFunction()">
          <div class="logo-info dropbtn">
            <i class="fab fa-pied-piper header-logo dropbtn"></i>
            <span class="header-title dropbtn">Arbitrage</span>
              <div id="myDropdown" class="dropdown-content">
                <div class="row">
                  <div class="col-6">
                    <h5>Market data</h5>
                    <ul>
                      <li><a href="{{ url_for('main.home') }}">Home</a></li>
                      <li><a href="{{ url_for('asset.assets') }}">Assets</a></li>
                      <li><a href="{{ url_for('portfolio.portfolio_dash') }}">Portfolio</a></li>
                    </ul>
                  </div>
                  <div class="col-6"  style="border-left: 1px solid #222222;">
                    <h5>What is Arbitrage?</h5>
                    <p>Cryptowatch is a real-time crypto markets platform.<br><br>
                    We connect you to the global crypto markets with tools that enable research, analysis, monitoring and order execution.</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="header-section left" style="border-right: none;">
          <input type="text" placeholder="Search" class="search-field">
          <ul class="navbar">
            <li class="nav-item {{ 'active' if active_page == 'index' else '' }}"><a href="{{ url_for('main.home') }}">Home</a></li>
            <li class="nav-item {{ 'active' if active_page == 'assets' else '' }}"><a href="{{ url_for('asset.assets') }}">Assets</a></li>
            <li class="nav-item {{ 'active' if active_page == 'portfolio' else '' }}"><a href="{{ url_for('portfolio.portfolio_dash') }}">Simulation</a></li>
          </ul>
        </div>
        <div class="header-section right">
          <a id="myBtn" style="color: #FFFFFF; text-decoration: none;">
            <div class="logo-info">
              <i class="fas fa-user auth-icon"></i>
              <span class="auth-plus">+</span>
            </div>
          </a>
        </div>
        <div class="header-section right">
          <a href="{{ url_for('portfolio.portfolio_dash') }}" style="color: #FFFFFF; text-decoration: none">
            <div class="logo-info">
              <i class="fas fa-coins"></i>
              <span class="portfolio">Portfolio</span>
            </div>
          </a>
        </div>
      </div>
      <div class="tcontainer"><div class="ticker-wrap"><div class="ticker-move">
        {% for asset in random_assets %}
          <div class="ticker-item">{{ asset.name.title().replace("_", " ") }}
            {% if asset.movingValue == 0  %}
              <span class="grey">0%</span>
            {% elif asset.movingValue > 0 %}
              <span class="green">+{{ asset.movingValue }}%</span>
            {% else %}
              <span class="red">{{ asset.movingValue }}%</span>
            {% endif %}
          </div>
        {% endfor %}
      </div></div></div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="main-flashes">
                <div class="flash-message flash-{{category}}">
                    <p>{{ message }}</p>
                </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </header>
    <main>
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">   
          <span class="close">&times;</span>
          <div class="modal-content-inner">
            <div class="row auth-headers">
              <div class="col-6">
                <h5 onclick="openCity(event, 'register')" class="tablinks active">Create Account</h5>
              </div>
              <div class="col-6">
                <h5 onclick="openCity(event, 'login')" class="tablinks">Sign in</h5>
              </div>
            </div>  
            <div id="register" class="tabcontent">
              <hr style="width: 80%;">
              <p class="auth-text">Create an account to gain access to dozens of free features</p>
              <form method="POST" action="{{ url_for('auth.register') }}" class="auth-form">
                {{ registrationForm.hidden_tag() }}
                {% if registrationForm.username.errors %}
                  {{ registrationForm.username(class="auth-field invalid", placeholder="Username") }}
                  <div class="invalid-feedback">
                      {% for error in registrationForm.username.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{ registrationForm.username(class="auth-field", placeholder="Username") }}
                {% endif %}

                {% if registrationForm.email.errors %}
                  {{ registrationForm.email(class="auth-field invalid", placeholder="Email") }}
                  <div class="invalid-feedback">
                      {% for error in registrationForm.email.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{ registrationForm.email(class="auth-field", placeholder="Email") }}
                {% endif %}

                {% if registrationForm.password.errors %}
                  {{ registrationForm.password(class="auth-field invalid", placeholder="Password") }}
                  <div class="invalid-feedback">
                      {% for error in registrationForm.password.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{ registrationForm.password(class="auth-field", placeholder="Password") }}
                {% endif %}

                {% if registrationForm.submit.errors %}
                  {{ registrationForm.submit(class="auth-field invalid") }}
                  <div class="invalid-feedback">
                      {% for error in registrationForm.submit.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{ registrationForm.submit(class="auth-button") }}
                {% endif %}              
              </form>
            </div>
            
            <div id="login" class="tabcontent" style="display: none;">
              <hr style="width: 80%;">
              <form method="POST" action="{{ url_for('auth.login') }}" class="auth-form">
                {{ loginForm.hidden_tag() }}
                {% if loginForm.username.errors %}
                  {{ loginForm.username(class="auth-field invalid", placeholder="Username") }}
                  <div class="invalid-feedback">
                      {% for error in loginForm.username.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{ loginForm.username(class="auth-field", placeholder="Username") }}
                {% endif %}
                
                {% if loginForm.password.errors %}
                  {{ loginForm.password(class="auth-field invalid", placeholder="Password") }}
                  <div class="invalid-feedback">
                      {% for error in loginForm.password.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{ loginForm.password(class="auth-field", placeholder="Password") }}
                {% endif %}

                {% if loginForm.submit.errors %}
                  {{ loginForm.submit(class="auth-field invalid") }}
                  <div class="invalid-feedback">
                      {% for error in loginForm.submit.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{ loginForm.submit(class="auth-button") }}
                {% endif %}
                <p class="auth-bottom"><a href="#">Forgot Password</a></p>
              </form>
            </div>
          </div> 
        </div>
      </div>
      <div class="main-wrapper-alt bg">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
    <footer>
      {% include "layouts/footer.html" %}
      {% block footer %} {% endblock footer %}
    </footer>
  </body>
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  </script>
  
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
</html>