{% extends "layouts/layout-alt.html" %}
{% block content %}

<div class="about-section">
  <div class="row" style="display: flex;">
    <div class="col-2">
      <div class="about-nav-outer">
        <div class="about-nav">
          <div class="tabs">
            <ul>
              <li class="tablink" onclick="openTab(event, 'about', 'tabcontent', 'tablink')">Assets</li>
              <li class="tablink" onclick="openTab(event, 'guides', 'tabcontent', 'tablink')">Trades</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="about-content">
        <div id="about" class="tabcontent" style="display: block;">
          <h2 class="mb-1">Assets</h2>
        </div>
        <div id="guides" class="tabcontent">
          <h2 class="mb-1">Trades</h2>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}