{% extends "layouts/layout-alt.html" %}
{% block content %}

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

<div class="dashboard-section">
  <div class="row" style="display: flex;">
    <div class="col-2">
      <div class="dashboard-nav-outer">
        <div class="dashboard-nav">
          <div class="tabs">
            <ul>
              <li class="tablink" onclick="openTab(event, 'portfolio', 'tabcontent', 'tablink')">Portfolio</li>
              <li class="tablink" onclick="openTab(event, 'transactions', 'tabcontent', 'tablink')">Transaction</li>
              <li class="tablink" onclick="openTab(event, 'trades', 'tabcontent', 'tablink')">Trades</li>
              <li class="tablink" onclick="openTab(event, 'earn', 'tabcontent', 'tablink')">Earn</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div id="portfolio" class="tabcontent" style="display: block;">
        <div class="dashboard-content">
          <h3>Portfolio</h3>
          <p>Here is the summary of your 18 assets.</p>
          <div class="dashboard-inner-section">
            <div class="dashboard-head-left">
              <h2 class="balance">{{ current_user.prettyBalance() }} COINS</h2>
              <p>Total Balance</p>  
            </div>
            <div class="dashboard-head-right">
              <h3 class="moving"><i class="fas fa-chevron-up"></i>0%</h3>
              <p class="moving-small">past week</p>
            </div>
            <div style="clear: both;"></div>
            <div class="portoflio-chart">
              <div id="lineChart"></div>
            </div>
          </div>
        </div>
        <h5>Your Assets</h5>
        <div class="dashboard-inner-section no-pad">
          <table class="assets-table dash-table">
            <tr>
              <th class="letter-td"></th>
              <th class="letter-td">Name</th>
              <th class="number-td">Amount</th>
              <th class="number-td">Worth</th>
              <th class="letter-td">Status</th>
              <th class="letter-td">Actions</th>
            </tr>
            {% for item in items %}
              <tr onClick="">
                <td class="letter-td"><span class="asset-img-helper"></span><img src="{{ url_for('static', filename='img/skyblock/' + item.asset.name + '.webp') }}" class="asset-img" alt="{{ item.asset.name }}" onerror="this.onerror=null; this.src='../../static/img/skyblock/NULL.webp'"></td>
                <a href="#"><td class="letter-td">{{ item.asset.name.title().replace("_", " ") }}</td></a>
                <td class="number-td">{{ item.amount }}</td>
                <td class="number-td">{{ item.totalWorth() }}</td>
                <td class="letter-td"><span class="order-status status-{{ item.status() }}">{{ item.status()|capitalize }}</span></td>
                <td class="letter-td"></td>
              </tr>
            {% endfor %}
          </table>    
        </div>
      </div>
      <div id="transactions" class="tabcontent">
        <h3>Transactions</h3>
        <p>View or place new trades.</p>
        <div class="row">
          <div class="col-6">
            <h5 style="margin-top: 1rem;">Place Order</h5>
            <div class="dashboard-inner-section">
              <form method="POST" action="">
                {{ pOF.hidden_tag() }}

                <div class="form-group">
                  <p class="form-label">{{ pOF.orderType.label }}</p>

                  <div class="form-field">
                    {% if pOF.orderType.errors %}
                    {{ pOF.orderType(class="form-select one invalid") }}
                    <div class="invalid-feedback">
                        {% for error in pOF.orderType.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ pOF.orderType(class="form-select one") }}
                  {% endif %}  
                  </div>
                </div>

                <div class="form-group">
                  <p class="form-label">{{ pOF.orderMethod.label }}</p>

                  <div class="form-field">
                    {% if pOF.orderMethod.errors %}
                    {{ pOF.orderMethod(class="form-select one invalid") }}
                    <div class="invalid-feedback">
                        {% for error in pOF.orderMethod.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ pOF.orderMethod(class="form-select one") }}
                  {% endif %}  
                  </div>
                </div>

                <div class="form-group">
                  <p class="form-label">{{ pOF.asset.label }}</p>

                  <div class="form-field">
                    {% if pOF.asset.errors %}
                    {{ pOF.asset(class="form-input one invalid", placeholder="Asset") }}
                    <div class="invalid-feedback">
                        {% for error in pOF.asset.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ pOF.asset(class="form-input one", placeholder="Asset") }}
                  {% endif %}  
                  </div>
                </div>

                <div class="form-group">
                  <p class="form-label">{{ pOF.amount.label }}</p>

                  <div class="form-field">
                    {% if pOF.amount.errors %}
                    {{ pOF.amount(class="form-input one invalid", placeholder="Amount") }}
                    <div class="invalid-feedback">
                        {% for error in pOF.amount.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ pOF.amount(class="form-input one", placeholder="Amount") }}
                  {% endif %}  
                  </div>
                </div>

                <div class="form-group">
                  <p class="form-label">{{ pOF.fee.label }}/ {{ pOF.minimumTrust.label }}</p>

                  <div class="form-field">
                    {% if pOF.fee.errors %}
                      {{ pOF.fee(class="form-select two invalid") }}
                      <div class="invalid-feedback">
                          {% for error in pOF.fee.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                    {% else %}
                      {{ pOF.fee(class="form-select two ") }}
                    {% endif %}

                    {% if pOF.minimumTrust.errors %}
                      {{ pOF.minimumTrust(class="form-select two invalid") }}
                      <div class="invalid-feedback">
                          {% for error in pOF.minimumTrust.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                    {% else %}
                      {{ pOF.minimumTrust(class="form-select two ") }}
                    {% endif %}
                  </div>
                </div>

                <div class="form-group">
                  <p class="form-label">{{ pOF.visibility.label }}</p>

                  <div class="form-field">
                    {% if pOF.visibility.errors %}
                    {{ pOF.visibility(class="form-select one invalid") }}
                    <div class="invalid-feedback">
                        {% for error in pOF.visibility.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ pOF.visibility(class="form-select one") }}
                  {% endif %}  
                  </div>
                </div>

                <div class="form-group">
                  <button class="reset-btn">Place Order</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-6">
            <h5 style="margin-top: 1rem;">Lorem</h5>
            <div class="dashboard-inner-section">

            </div>
          </div>
        </div>
        <h5 style="margin-top: 1rem;">History</h5>
        <div class="dashboard-inner-section no-pad">
          <table class="assets-table dash-table">
            <tr>
              <th class="letter-td"></th>
              <th class="letter-td">Name</th>
              <th class="letter-td">Buy/Sell</th>
              <th class="number-td">Fees</th>
              <th class="number-td">Price Per Unit</th>
              <th class="number-td">Status</th>
              <th class="number-td">Visibility</th>
              <th class="number-td">Date</th>
            </tr>
            {% for order in current_user.orders %}
              <tr>
                <td class="letter-td"><span class="asset-img-helper"></span><img src="{{ url_for('static', filename='img/skyblock/' + order.items[0].asset.name + '.webp') }}" class="asset-img" alt="{{ order.items[0].asset.name }}" onerror="this.onerror=null; this.src='../../static/img/skyblock/NULL.webp'"></td>
                <td class="letter-td">{{ order.items[0].asset.prettyName }}</td>
                <td class="letter-td">{{ order.method|capitalize }}</td>
                <td class="number-td">{{ order.fee }}%</td>
                <td class="number-td">{{ order.items[0].asset.sellPrice }}</td>
                <td class="number-td"><span class="order-status order-{{ order.status }}">{{ order.status }}</span></td>
                <td class="number-td">
                  {% if order.visibility == "private" %}
                    <i class="fas fa-lock visibility"></i>
                  {% else %}
                    <i class="fas fa-glasses visibility"></i>
                  {% endif %}
                </td>
                <td class="number-td">{{ order.order_date.strftime("%b %d, %y") }}</td>
              </tr>
            {% endfor %}
          </table>    
        </div>
      </div>
      <div id="trades" class="tabcontent">
        <h3>Trades</h3>
        <p>Trade assets with other Minance users.</p>
        <br>
        <p>Coming soon...</p>
      </div>
      <div id="earn" class="tabcontent">
        <h3>Earn</h3>
        <p>Earn free Skyblock assets.</p>
        <br>
        <p>Coming soon...</p>
      </div>
    </div>
  </div>
</div>

<script>
  createPortfolioChart()
</script>

{% endblock content %}