{% extends "layouts/layout-alt.html" %}
{% block content %}

<div class="about-section">
  <div class="row" style="display: flex;">
    <div class="col-2">
      <div class="about-nav-outer">
        <div class="about-nav">
          <div class="tabs">
            <ul>
              <li class="tablink" onclick="openTab(event, 'about', 'tabcontent', 'tablink')">Profile</li>
              <li class="tablink" onclick="openTab(event, 'guides', 'tabcontent', 'tablink')">Account</li>
              <li class="tablink" onclick="openTab(event, 'tos', 'tabcontent', 'tablink')">Settings</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="about-content">
        <div id="about" class="tabcontent" style="display: block;">
          <h2 class="mb-1">Profile</h2>
          <div class="row">
            <div class="col-3">
              <div class="dashboard-left">
                <img class="profile-pic" src="{{ url_for('static', filename='img/profile_pics/_L4N.jpg') }}" />
                <div class="pic-btns">
                  <div class="edit-img"><i class="fas fa-edit"></i></div>
                  <div class="trash-img"><i class="fas fa-trash"></i></div>  
                </div>
                <h4><a href="#">{{ current_user.username }}</a></h4>
                <p>{{ current_user.email }}</p>
              </div>
            </div>
            <div class="col-9">
              <div class="dashboard-right">
                <form method="POST" action="">
                  {{ form.hidden_tag() }}

                  <p class="bio-label">{{ form.username.label }}</p>
                  {% if form.username.errors %}
                    {{ form.username(class="dash-field invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.username(class="dash-field") }}
                  {% endif %} 

                  <p class="bio-label">{{ form.email.label }}</p>
                  {% if form.email.errors %}
                    {{ form.email(class="dash-field invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.email(class="dash-field") }}
                  {% endif %} 

                  <p class="bio-label">{{ form.biography.label }}</p>
                  {% if form.biography.errors %}
                    {{ form.biography(class="biography invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.biography.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.biography(class="biography") }}
                  {% endif %} 

                  <p class="bio-label">{{ form.discord.label }}</p>
                  {% if form.discord.errors %}
                    {{ form.discord(class="dash-field invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.discord.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.discord(class="dash-field") }}
                  {% endif %}

                  {% if form.update.errors %}
                    {{ form.update(class="auth-button") }}
                    <div class="invalid-feedback">
                        {% for error in form.update.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.update(class="auth-button") }}
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id="guides" class="tabcontent">
          <h2 class="mb-1">Account</h2>
          <div class="row">
            <h4 class="outer-label">Change Password</h4>
            <div class="col-4">
              <p class="bio-label">Old Password</p>
              <input class="dash-field" type="password">    
            </div>
            <div class="col-4">
              <p class="bio-label">New Password</p>
              <input class="dash-field" type="password">    
            </div>
            <div class="col-4">
              <p class="bio-label">Confirm Password</p>
              <input class="dash-field" type="password">    
            </div>
          </div>
          <div class="row">
            <h4 class="outer-label">Change Email</h4>
            <div class="col-6">
              <p class="bio-label">Current Email</p>
              <input class="dash-field" type="text">    
            </div>
            <div class="col-6">
              <p class="bio-label">New Email</p>
              <input class="dash-field" type="text">    
            </div>
          </div>
          <button class="auth-button">Update</button>
          <div class="row">
            <h4 class="outer-label danger-zone">Danger Zone</h4>
            <button class="delete-account">Delete Account</button>
          </div>
        </div>
        <div id="tos" class="tabcontent">
          <h2>Settings</h2>
          <h4 class="outer-label">Notification Settings</h4>
          <p>Coming Soon</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}