{% extends "layouts/layout-alt.html" %}
{% block content %}

<h3 class="b">All Orders</h3>
<p class="light">
  By Date Descending
</p>

<div class="row">
  <div class="col-2">
    <div class="filters">
      <h4>Filters</h4>
      <hr style="height: 1px; background-color: #292929; border: none;">
      <form method="GET" action="{{ url_for('market.filterOrders') }}">
        <label>Asset Name</label>
        <input class="filter-field" name="asset" type="text" value="{{request.args.get('asset') if request.args.get('asset') != None else ''}}">
        <label>Type Filter</label>
        <select name="typeFilter">
          <option {{ "selected=selected" if request.args.get("typeFilter") == "buy" else "" }} value="buy">Buy</option>
          <option {{ "selected=selected" if request.args.get("typeFilter") == "sell" else "" }} value="sell">Sell</option>
        </select>
        <label>Rate</label>
        <select name="rateFilter">
          <option {{ "selected=selected" if request.args.get("rateFilter") == "0.1" else "" }} value=0.1>0.1%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "0.2" else "" }} value=0.2>0.2%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "0.3" else "" }} value=0.3>0.3%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "0.4" else "" }} value=0.4>0.4%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "0.5" else "" }} value=0.5>0.5%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "0.75" else "" }} value=0.75>0.75%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "1.0" else "" }} value=1.0>1%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "2.0" else "" }} value=2.0>2%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "3.0" else "" }} value=3.0>3%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "4.0" else "" }} value=4.0>4%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "5.0" else "" }} value=5.0>5%</option>
          <option {{ "selected=selected" if request.args.get("rateFilter") == "7.5" else "" }} value=7.5>7.5%</option>
        </select>
        <button class="filter-btn" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="col-10">
    <table class="assets-table">
      <tr>
        <th class="letter-td"></th>
        <th class="letter-td">Asset</th>
        <th class="letter-td">Type</th>
        <th class="number-td">Amount</th>
        <th class="number-td">Rate (%)</th>
        <th class="number-td">Cost</th>
        <th class="number-td">Return</th>
        <th class="number-td">Minimum Trust</th>
        <th class="letter-td">Orderer</th>
        <th class="letter-td">Date</th>
      </tr>
      {% for order in orders.items %}
        <tr onClick="openModal('orderModal')">
          <td class="letter-td"><span class="asset-img-helper"></span><img src="{{ url_for('static', filename='img/skyblock/' + order.items[0].asset.name + '.webp') }}" class="asset-img" alt="{{ order.items[0].asset.name }}" onerror="this.onerror=null; this.src='../../static/img/skyblock/NULL.webp'"></td>
          <a href="#"><td class="letter-td">{{ order.items[0].asset.prettyName }}</td></a>
          <td class="letter-td">{{ order.method|capitalize }}</td>
          <td class="number-td">{{ order.items[0].amount }}</td>
          <td class="number-td">{{ order.fee }}%</td>
          <td class="number-td">{{ order.calcPrice() }}</td>
          <td class="number-td">{{ order.calcReturn() }}</td>
          <td class="number-td">{{ order.minimumTrust }}</td>
          {% if order.visibility == "public" %}
            <td class="letter-td">{{ order.orderer.username }}</td>   
          {% else %}
            <td class="letter-td">Anonymous</td>
          {% endif %}
          <td class="letter-td">{{ order.order_date.strftime("%b %d, %y") }}</td>
        </tr>
      {% endfor %}
    </table>    
  </div>
</div>

<div id="orderModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">   
    <span onclick="closeModal('orderModal')" class="close">&times;</span>
    <div class="modal-content-inner">
      <h3>Order #1</h3>
      <p style="font-size: 0.8rem;">Placed 12 seconds ago</p>
      <br>
      <p style="font-size: 0.76rem; margin-bottom: 0.5rem;"><b>Meta</b></p>
      <div class="flex-row">
        <div class="flex-col">
          <p class="stat">
            <span>Asset</span>
            <span class="stat-data pop">Cobblestone</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Type</span>
            <span class="stat-data pop">Buy</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Amount</span>
            <span class="stat-data pop">1024</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Rate</span>
            <span class="stat-data pop">1%</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Cost</span>
            <span class="stat-data pop">5,120.12</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Return</span>
            <span class="stat-data pop">51.2</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Minimum Trust</span>
            <span class="stat-data pop">2</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Orderer</span>
            <span class="stat-data pop">test</span>
          </p>
        </div>
      </div>
      <p style="font-size: 0.76rem; margin-bottom: 0.5rem;"><b>Order Status</b></p>
      <div class="flex-row">
        <div class="flex-col">
          <p class="stat">
            <span>Fulfilled</span>
            <span class="stat-data pop">45/1024</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Hub</span>
            <span class="stat-data pop">Lobby #80</span>
          </p>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock content %}