{% extends "layouts/layout-alt.html" %}
{% block content %}
<h3 class="b">All Assets</h3>
<p class="light">
  By
  {% if request.args.get("mainFilter") %}
    {{ request.args.get("mainFilter")|capitalize }}
    {% if request.args.get("orderBy") == "asc" %}
      Ascending
    {% else %}
      Descending
    {% endif %}
  {% else %}
    Name Ascending
  {% endif %}
</p>

<div class="row">
  <div class="col-2">
    <div class="filters">
      <h4>Filters</h4>
      <hr style="height: 1px; background-color: #292929; border: none;">
      <form method="GET" action="{{ url_for('asset.filterAssets') }}">
        <label>Search Query</label>
        <input class="filter-field" name="search" type="text" value="{{request.args.get('search') if request.args.get('search') != None else ''}}">
        <br>
        <label>Main Filter</label>
        <select name="mainFilter">
          <option {{ "selected=selected" if request.args.get("mainFilter") == "sell" else "" }} value="sell">Sell Price</option>
          <option {{ "selected=selected" if request.args.get("mainFilter") == "buy" else "" }} value="buy">Buy Price</option>
          <option {{ "selected=selected" if request.args.get("mainFilter") == "volume" else "" }} value="volume">Volume</option>
          <option {{ "selected=selected" if request.args.get("mainFilter") == "margin" else "" }} value="margin">Margin (%)</option>
        </select>
        <br>
        <label>Order By</label>
        <select name="orderBy">
          <option {{ 'selected=selected' if request.args.get('orderBy') == 'asc' else '' }} value="asc">Ascending</option>
          <option {{ 'selected=selected' if request.args.get('orderBy') == 'desc' else '' }} value="desc">Descending</option>
        </select>
        <br>
        <button class="filter-btn" type="submit">Search</button>
      </form>
    </div>    
  </div>
  <div class="col-10">
    <table class="assets-table">
      <tr>
        <th class="letter-td"></th>
        <th class="letter-td">Name</th>
        <th class="number-td">Sell Price</th>
        <th class="number-td">Buy Price</th>
        <th class="number-td">Margin (%)</th>
        <th class="number-td">Volume</th>
        <th class="number-td">Change 30M</th>
        <th class="number-td">Change 24H</th>
        <th class="number-td">Change 7D</th>
        <th class="number-td">Change 30D</th>
      </tr>
      {% for asset in assets.items %}
        <tr onClick="window.location = '/asset/{{ asset.name }}';">
          <td class="letter-td"><span class="asset-img-helper"></span><img src="{{ url_for('static', filename='img/skyblock/' + asset.name + '.webp') }}" class="asset-img" alt="{{ asset.name }}" onerror="this.onerror=null; this.src='../../static/img/skyblock/NULL.webp'"></td>
          <a href="#"><td class="letter-td">{{ asset.name.title().replace("_", " ") }}</td></a>
          <td class="number-td">{{ round(asset.sellPrice, 2) }}</td>
          <td class="number-td">{{ round(asset.buyPrice, 2) }}</td>
          <td class="number-td">{{ round(asset.margin, 2) }}%</td>
          <td class="number-td">{{ asset.prettyVolume() }}</td>

          {% if asset.changeOverX(120) > 0 %}
            <td class="number-td green">{{ asset.changeOverX(120) }}%</td>
          {% elif asset.changeOverX(120) < 0 %}
            <td class="number-td red">{{ asset.changeOverX(120) }}%</td>
          {% else %}
            <td class="number-td grey">{{ (asset.changeOverX(120)|string).replace("-", "") }}%</td>
          {% endif %}

          {% if asset.changeOverX(5760) > 0 %}
            <td class="number-td green">{{ asset.changeOverX(5760) }}%</td>
          {% elif asset.changeOverX(5760) < 0 %}
            <td class="number-td red">{{ asset.changeOverX(5760) }}%</td>
          {% else %}
            <td class="number-td grey">{{ (asset.changeOverX(5760)|string).replace("-", "") }}%</td>
          {% endif %}

          {% if asset.changeOverX(40320) > 0 %}
            <td class="number-td green">{{ asset.changeOverX(40320) }}%</td>
          {% elif asset.changeOverX(40320) < 0 %}
            <td class="number-td red">{{ asset.changeOverX(40320) }}%</td>
          {% else %}
            <td class="number-td grey">{{ (asset.changeOverX(40320)|string).replace("-", "") }}%</td>
          {% endif %}

          {% if asset.changeOverX(175320) > 0 %}
            <td class="number-td green">{{ asset.changeOverX(175320) }}%</td>
          {% elif asset.changeOverX(175320) < 0 %}
            <td class="number-td red">{{ asset.changeOverX(175320) }}%</td>
          {% else %}
            <td class="number-td grey">{{ (asset.changeOverX(175320)|string).replace("-", "") }}%</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>    
  </div>
</div>

<ul class="assets-pagination">
  <li class="pagination-key"><a href="{{ url_for('asset.assets', page=assets.page-1, mainFilter=request.args.get('mainFilter'), orderBy=request.args.get('orderBy')) }}">&larr; prev</a></li>
  {% for page_num in assets.iter_pages(left_edge=1, right_edge=1, left_current=8, right_current=8) %}
    {% if page_num %}
      {% if assets.page == page_num %}
        <li class="active"><a href="{{ url_for('asset.filterAssets', mainFilter=request.args.get('mainFilter'), orderBy=request.args.get('orderBy')) }}">{{ page_num }}</a></li>
      {% else %}
        <li><a href="{{ url_for('asset.filterAssets', page=page_num, mainFilter=request.args.get('mainFilter'), orderBy=request.args.get('orderBy')) }}">{{ page_num }}</a></li>
      {% endif %}
    {% else %}
      <span class="highlighted">...</span>
    {% endif %}
  {% endfor %}
  <li class="pagination-key"><a href="{{ url_for('asset.assets', page=assets.page+1, mainFilter=request.args.get('mainFilter'), orderBy=request.args.get('orderBy')) }}">next &rarr;</a></li>
</ul>

{% endblock content %}