{% extends "layouts/layout_no_margin.html" %} {% block content %}

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

<div class="row">
  <div class="col-6 no-gutter">
    <div class="section">
      <div class="section-header">
        <div class="section-button tablink" onclick="openTab(event, 'sell')">Sell Candlestick Chart</div>
        <div class="section-button tablink" onclick="openTab(event, 'buy')">Buy Candlestick Chart</div>
        <div class="section-button tablink" onclick="openTab(event, 'topOrders')">Top Orders Chart</div>
        <div class="section-button outerdrop dropdown dropbtn" onclick="dropdown('timeFrameDropdown')">
          <div class="dropbtn">
            <span class="dropbtn" id="timeFrameDisplay">
              5M
            </span>
            <i class="fas fa-chevron-down dropbtn"></i>
          </div>  
          <div id="timeFrameDropdown" class="dropdown-content alt">
            <ul>
              <li onclick="changeTimeFrame(1, '1M')">1M</li>
              <li onclick="changeTimeFrame(3, '3M')">3M</li>
              <li onclick="changeTimeFrame(5, '5M')">5M</li>
              <li onclick="changeTimeFrame(15, '15M')">15M</li>
              <li onclick="changeTimeFrame(30, '30M')">30M</li>
              <li onclick="changeTimeFrame(60, '1H')">1H</li>
              <li onclick="changeTimeFrame(120, '2H')">2H</li>
              <li onclick="changeTimeFrame(240,'4H')">4H</li>
              <li onclick="changeTimeFrame(360, '6H')">6H</li>
              <li onclick="changeTimeFrame(720, '12H')">12H</li>
              <li onclick="changeTimeFrame(1440, '1D')">1D</li>
              <li onclick="changeTimeFrame(4320, '3D')">3D</li>
              <li onclick="changeTimeFrame(10080, '1W')">1W</li>
            </ul>
          </div>
        </div>  
      </div>
      <div class="section-body">
        <div id="sell" class="tabcontent tabcontent-alt" style="display: block;">
          <div id="sellChart"></div>
        </div>
        <div id="buy" class="tabcontent tabcontent-alt">
          <div id="buyChart"></div>
        </div>
        <div id="topOrders" class="tabcontent tabcontent-alt">
          <div id="lineChart"></div>
        </div>    
      </div>
    </div>
  </div>
  <div class="col-3 no-gutter">
    <div class="section">
      <div class="section-header">
        <h5 class="section-title">Statistics</h5>
        <h5 class="section-alt"><a href="#">Buy</a> | <a href="#">Sell</a></h5>
      </div>
      <div class="section-body w-pad statistics">
        <div class="row">
          <div class="col-6">
            <p>Margin: <span>45.5%</span></p>
            <p>Total Volume: <span>45.5%</span></p>
            <p>Sell Movement: <span>45.5%</span></p>
            <p>Buy Movement: <span>45.5%</span></p>
          </div>
          <div class="col-6">
            <p>BFPM: <span>45.5%</span></p>
            <p>Total Volume: <span>45.5%</span></p>
            <p>Margin: <span>45.5%</span></p>
            <p>Buy Movement: <span>45.5%</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-6 no-gutter w-r-border">
            <span class="askBid-label">Buy</span>
            <div class="ask"></div>
            <span class="ask-label">Ask</span>
          </div>
          <div class="col-6 no-gutter">
            <div class="bid"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 no-gutter">
    <div class="section">
      <div class="section-header">
        <h5 class="section-title">Trading</h5>
      </div>
      <div class="section-body w-pad">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <div class="form-label">
              <p>Action</p>
            </div>
            <div class="form-field">
              <button class="form-btn active">Buy</button>
              <button class="form-btn">Sell</button>
            </div>
          </div>
          <div class="clear"></div>
          <div class="form-group">
            <div class="form-label">
              <p>Type</p>
            </div>
            <div class="form-field">
              <select>
                <option>Top Order</option>
                <option>Top Order +0.1</option>
                <option>Spread (5%)</option>
              </select>
            </div>
          </div>
          <div class="clear"></div>
          <div class="form-group">
            <div class="form-label">
              <p>Time</p>
            </div>
            <div class="form-field">
              <input type="text" class="field-half">
              <input type="text" class="field-half">
            </div>
          </div>
          <div class="clear"></div>
          <div class="form-group">
            <div class="form-label">
              <p>Quantity</p>
            </div>
            <div class="form-field">
              <input type="text">
            </div>
          </div>
          <div class="clear"></div>
          <div class="form-group">
            <div class="form-label">
              <p>Total</p>
            </div>
            <div class="form-field">
              <input type="text">
            </div>
          </div>
          <div class="clear"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  createBuySellChart("{{ asset.name }}")

  createChart("sell", 5, "{{ asset.name }}")
  createChart("buy", 5, "{{ asset.name }}")

  function changeTimeFrame(timeFrame, abbr) {
    var timeFrameDisplay = document.getElementById("timeFrameDisplay")
    timeFrameDisplay.innerHTML = abbr

    createChart("sell", timeFrame, "{{ asset.name }}")
    createChart("buy", timeFrame, "{{ asset.name }}")  
  }
</script>

{% endblock content %}