{% extends "layouts/layout.html" %}
{% block content %}

<link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='styles/panel.css') }}" />

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

<div class="l-charts grid-item">
  <div class="section chart-section">
    <div class="section-header no-pad">
      <ul class="section-header-tabs">
        <li class="pop bold">{{ asset.prettyName }}</li>
        <li class="dropbtn" onclick="dropdown('chartDropdown')">
          <div class="inner-li dropbtn">
            Sell Candlestick Chart
            <i class="fas fa-chevron-down arrow-down "></i>  
          </div>
          <div id="chartDropdown" class="dropdown-content d-none">
            <ul>
              <li onclick="openTab(event, 'sell', 'chart', 'tablink')">Sell Candlestick Chart</li>
              <li onclick="openTab(event, 'buy', 'chart', 'tablink')">Buy Candlestick Chart</li>
              <li onclick="openTab(event, 'topOrders', 'chart', 'tablink')">Top Orders Chart</li>
            </ul>
          </div>  
        </li>
        <li class="dropbtn" onclick="dropdown('timeDropdown')">
          <div class="inner-li dropbtn" style="width: 47.2px; text-align: center;">
            <span id="timeFrameDisplay" class="dropbtn">5M</span>
            <i class="fas fa-chevron-down arrow-down dropbtn"></i>  
          </div>
          <div id="timeDropdown" class="dropdown-content d-none">
            <ul>
              <li onclick="changeTimeFrame(1, '1M')">1M</li>
              <li onclick="changeTimeFrame(3, '3M')">3M</li>
              <li onclick="changeTimeFrame(5, '5M')">5M</li>
              <li onclick="changeTimeFrame(15, '15M')">15M</li>
              <li onclick="changeTimeFrame(30, '30M')">30M</li>
              <li onclick="changeTimeFrame(60, '1H')">1H</li>
              <li onclick="changeTimeFrame(120, '2H')">2H</li>
              <li onclick="changeTimeFrame(240,'4H')">4H</li>
              <li onclick="changeTimeFrame(360, '6H')">6H</li>
              <li onclick="changeTimeFrame(720, '12H')">12H</li>
              <li onclick="changeTimeFrame(1440, '1D')">1D</li>
              <li onclick="changeTimeFrame(4320, '3D')">3D</li>
              <li onclick="changeTimeFrame(10080, '1W')">1W</li>
            </ul>
          </div>  
        </li>
      </ul>
    </div>
    <div class="section-content no-pad">
      <div id="sell" class="chart" style="display: block;">
        <div id="sellChart"></div>
      </div>
      <div id="buy" class="chart">
        <div id="buyChart"></div>
      </div>
      <div id="topOrders" class="chart">
        <div id="lineChart"></div>
      </div>    
    </div>
  </div>
</div>
<div class="l-stats grid-item">
  <div class="section stat-section">
    <div class="section-header">
      <h5 class="section-title">Statistics</h5>
    </div>
    <div class="section-content">
      <div class="flex-row">
        <div class="flex-col">
          <p class="stat">
            <span>Top Bid:</span>
            <span class="stat-data pop">{{ pickle.loads(asset.sellOrders)[0][1] }}</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Top Ask:</span>
            <span class="stat-data pop">{{ pickle.loads(asset.buyOrders)[0][1] }}</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Sell Price:</span>
            <span class="stat-data pop">{{ asset.sellPrice }}</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Buy Price:</span>
            <span class="stat-data pop">{{ asset.buyPrice }}</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Margin:</span>
            <span class="stat-data pop">{{ "%.2f%%"|format(asset.margin) }}</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Total Volume:</span>
            <span class="stat-data pop">{{ asset.prettyVolume() }}</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Sell Volume:</span>
            <span class="stat-data pop">{{ asset.prettyVolume("sell") }}</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Buy Volume:</span>
            <span class="stat-data pop">{{ asset.prettyVolume("buy") }}</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Sell Movement:</span>
            <span class="stat-data pop">{{ asset.sellMovingWeek }}</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>Buy Movement:</span>
            <span class="stat-data pop">{{ asset.buyMovingWeek }}</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>BFPM:</span>
            <span class="stat-data pop">57.4%</span>
          </p>
        </div>
        <div class="flex-col">
          <p class="stat">
            <span>BFPH:</span>
            <span class="stat-data pop">57.4%</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section order-section">
    <div class="section-header border-t">
      <h5 class="section-title">Orders</h5>
    </div>
    <div class="section-content">
      <div class="flex-row">
        <div class="flex-col">
          <h5>Bid</h5>
          <table class="order-table">
            <tr>
              <th class="letter-td">Price</th>
              <th class="number-td">Amount</th>
              <th class="number-td">Orders</th>
            </tr>
            {% for order in pickle.loads(asset.sellOrders) %}
              <tr>
                <td class="letter-td pop">{{ order[1] }}</td>
                <td class="number-td">{{ order[0] }}</td>
                <td class="number-td">{{ order[2] }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="flex-col">
          <h5>Ask</h5>
          <table class="order-table">
            <tr>
              <th class="letter-td">Price</th>
              <th class="number-td">Amount</th>
              <th class="number-td">Orders</th>
            </tr>
            {% for order in pickle.loads(asset.buyOrders) %}
              <tr>
                <td class="letter-td pop">{{ order[1] }}</td>
                <td class="number-td">{{ order[0] }}</td>
                <td class="number-td">{{ order[2] }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="l-trading grid-item">
  <div class="section">
    <div class="section-header">
      <h5 class="section-title">Trading</h5>
    </div>
    <div class="section-content">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <p class="form-label">Action</p>
          <div class="form-field">
            <button class="form-btn">Buy</button>
            <button class="form-btn">Sell</button>
          </div>
        </div>
        <div class="form-group">
          <p class="form-label">Type</p>
          <div class="form-field">
            <select>
              <option>Top Order +0.1</option>
              <option>Match Top Order</option>
              <option>5% Spread</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <p class="form-label">Time</p>
          <div class="form-field">
            <input type="text">
          </div>
        </div>
        <div class="form-group">
          <p class="form-label">Quantity</p>
          <div class="form-field">
            <input type="text">
          </div>
        </div>
        <div class="form-group">
          <p class="form-label">Total</p>
          <div class="form-field">
            <input type="text">
          </div>
        </div>
        <div class="form-group">
          <button class="reset-btn">Reset</button>
          <button class="order-btn">Place Order</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  createBuySellChart("{{ asset.name }}")

  createChart("sell", 5, "{{ asset.name }}")
  createChart("buy", 5, "{{ asset.name }}")

  function changeTimeFrame(timeFrame, abbr) {
    var timeFrameDisplay = document.getElementById("timeFrameDisplay")
    timeFrameDisplay.innerHTML = abbr

    createChart("sell", timeFrame, "{{ asset.name }}")
    createChart("buy", timeFrame, "{{ asset.name }}")
  }
</script>

{% endblock content %}