.l-main:after, .l-root:after, .row-stocks:after, .row:after {
  display: block;
  clear: both;
  content: "";
}

.row + .row {
  margin-top: 1%;
}
.row.no-gutters .col-1 {
  width: 8.3333333333%;
}
.row.no-gutters .col-2 {
  width: 16.6666666667%;
}
.row.no-gutters .col-3 {
  width: 25%;
}
.row.no-gutters .col-4 {
  width: 33.3333333333%;
}
.row.no-gutters .col-5 {
  width: 41.6666666667%;
}
.row.no-gutters .col-6 {
  width: 50%;
}
.row.no-gutters .col-7 {
  width: 58.3333333333%;
}
.row.no-gutters .col-8 {
  width: 66.6666666667%;
}
.row.no-gutters .col-9 {
  width: 75%;
}
.row.no-gutters .col-10 {
  width: 83.3333333333%;
}
.row.no-gutters .col-11 {
  width: 91.6666666667%;
}
.row.no-gutters .col-12 {
  width: 100%;
}
.row.no-gutters [class^=col-] {
  float: left;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row.no-gutters [class^=col-]:last-child {
  margin-right: 0;
  float: right;
}

.row-stocks + .row-stocks {
  margin-top: 1%;
}
.row-stocks .col-c {
  width: 100%;
}
@media (min-width: 641px) {
  .row-stocks .col-c {
    width: 49%;
  }
}
@media (min-width: 1008px) {
  .row-stocks .col-c {
    width: 32.3333333333%;
  }
}
@media (min-width: 1240px) {
  .row-stocks .col-c {
    width: 24%;
  }
}

[class^=col-] {
  float: left;
  margin-right: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class^=col-]:last-child {
  margin-right: 0%;
}

.col-1 {
  width: 7.3333333333%;
}

.col-2 {
  width: 15.6666666667%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 32.3333333333%;
}

.col-5 {
  width: 40.6666666667%;
}

.col-6 {
  width: 49%;
}

.col-7 {
  width: 57.3333333333%;
}

.col-8 {
  width: 65.6666666667%;
}

.col-9 {
  width: 74%;
}

.col-10 {
  width: 82.3333333333%;
}

.col-11 {
  width: 90.6666666667%;
}

.col-12 {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-col {
  flex-grow: 1;
  flex-basis: 50%;
}

.assets-table {
  border-collapse: collapse;
  width: 100%;
  color: #C8C8C8;
  margin-top: 1.5rem;
}
.assets-table tr:first-child:hover {
  background-color: #000000;
}
.assets-table td, .assets-table th {
  border-top: 1px solid #383838;
  font-size: 0.78rem;
}
.assets-table .letter-td {
  text-align: left;
  cursor: pointer;
}
.assets-table .letter-td a {
  color: #C8C8C8;
}
.assets-table .number-td {
  text-align: right;
  cursor: pointer;
}
.assets-table .number-td a {
  color: #C8C8C8;
}
.assets-table td {
  padding: 8px;
}
.assets-table th {
  cursor: auto;
  font-family: "DM Sans" !important;
  padding: 10px;
}
.assets-table tr:nth-child(even) {
  background-color: #000a0c;
}
.assets-table tr:hover {
  background-color: #001216;
}
.assets-table .asset-img-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.assets-table .asset-img {
  height: 1rem;
  width: 1rem;
}

.assets-pagination {
  text-align: center;
  margin-top: 1rem;
}
.assets-pagination li {
  display: inline-block;
  padding: 1px 5px;
  font-size: 0.8rem;
}
.assets-pagination li a {
  text-decoration: none;
  color: #C8C8C8;
}
.assets-pagination li.active {
  border: 1px solid #04B16F;
}
.assets-pagination li.active a {
  color: #F2F2F2;
}

.pagination-key {
  font-size: 0.74rem;
}

.filters {
  padding: 0.5rem;
  margin-top: 1rem;
}
.filters label {
  font-size: 0.88rem;
  color: #C8C8C8;
}
.filters select {
  background-color: #030303;
  color: #bebebe;
  border: 1px solid #222222;
  margin: 6px 4px 8px 0px;
  padding: 4px 6px;
  width: 100%;
  font-size: 0.85rem;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

.filter-field {
  width: 100%;
}

.filter-field[type=text] {
  margin: 6px 4px 8px 0px;
  padding: 4px 6px;
  border-radius: none;
  font-size: 0.85rem;
  border: 1px solid #222222;
  background-color: #030303;
  color: #bebebe;
  display: inline-block;
}

.filter-btn {
  background-color: #030303;
  border: 1px solid #001216;
  color: #bebebe;
  border-radius: none;
  font-size: 0.85rem;
  margin: 6px 4px 4px 0px;
  padding: 4px 16px;
}

.letter-td {
  text-align: left;
}

.number-td {
  text-align: right;
}

.about-section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #222222;
}

.about-nav-outer {
  height: 100%;
  background-color: #050505;
  border-right: 1px solid #222222;
}

.about-nav {
  padding: 1rem;
}
.about-nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.about-nav ul li {
  font-size: 0.83rem;
  font-family: "Iosevka";
  padding-bottom: 0.7rem;
  width: 100%;
  transition-duration: 200ms;
}
.about-nav ul li:hover {
  color: #05FFA1;
  cursor: pointer;
}

.about-content {
  padding: 1rem;
}
.about-content h2 {
  font-family: "DM Sans Medium";
}
.about-content h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.about-content h5 {
  margin-bottom: 0.5rem;
}
.about-content p {
  font-family: "Iosevka";
  font-size: 0.78rem;
  color: #C8C8C8;
}
.about-content ul {
  padding-left: 2rem;
}
.about-content ul li {
  font-size: 0.78rem;
  color: #C8C8C8;
  margin-bottom: 0.5rem;
}
.about-content ul ul li {
  font-size: 0.74rem;
}
.about-content a {
  color: #05FFA1;
  text-decoration: none;
}

.mb-1 {
  margin-bottom: 0.6rem;
}

.code {
  background-color: #181818;
  border: 1px solid #1f1f1f;
  padding: 0.15rem 0.25rem;
  font-size: 0.68rem;
  border-radius: 2px;
  color: #b6b6b6;
}

@keyframes notification-slide {
  0% {
    right: -350px;
  }
  100% {
    right: 0;
  }
}
.notifications {
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 0;
}

.notification {
  background-color: rgba(3, 110, 69, 0.92);
  border: 1px solid #001216;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  transition-timing-function: ease-in;
  animation: notification-slide 1s normal;
  animation-play-state: paused;
  text-align: left;
  display: flex;
  align-items: center;
  white-space: normal;
  word-break: break-all;
  max-width: 25vw;
  position: relative;
  right: 0;
}
.notification i {
  font-size: 2rem;
  margin-right: 1rem;
  float: left;
}
.notification .notification-body {
  float: right;
}
.notification .notification-title {
  font-family: "DM Sans Bold";
  font-size: 0.8rem;
}
.notification .notification-content {
  font-size: 0.75rem;
  color: #C8C8C8;
}
.notification .exit {
  position: absolute;
  top: 2px;
  right: 8px;
}
.notification .exit:hover {
  cursor: pointer;
}

.mb-1 {
  margin-bottom: 1rem;
}

.dashboard-left {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.dashboard-left h4 a {
  color: #05FFA1;
  text-decoration: none;
}
.dashboard-left p {
  font-size: 0.78rem;
}

.dashboard-right {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.profile-pic {
  border-radius: 50%;
  width: 100%;
}

.outer-label {
  color: #F2F2F2;
  font-family: "Iosevka";
}

.bio-label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.biography {
  width: 100%;
  background-color: #050505;
  border: 1px solid #292929;
  resize: none;
  height: 8rem;
  color: #C8C8C8;
  padding: 0.3rem 0.5rem;
  margin-bottom: 1rem;
  font-family: "Iosevka";
  font-size: 0.82rem;
  font-size: 0.8rem;
}

.dash-field {
  background-color: #050505;
  border: 1px solid #292929;
  width: 100%;
  padding: 0.3rem 0.5rem;
  color: #C8C8C8;
  margin-bottom: 1rem;
  font-family: "Iosevka";
  font-size: 0.8rem;
}

.pic-btns {
  margin-top: 0.5rem;
}

.edit-img {
  padding: 0rem 0.45rem 0.3rem 0.5rem;
  border: 1px solid #292929;
  display: inline-block;
  cursor: pointer;
}
.edit-img i {
  font-size: 0.75rem;
}

.trash-img {
  padding: 0rem 0.5rem 0.3rem 0.5rem;
  border: 1px solid #292929;
  display: inline-block;
  cursor: pointer;
}
.trash-img i {
  font-size: 0.75rem;
}

.danger-zone {
  color: #f85149;
}

.delete-account {
  border-radius: 4px;
  background-color: #000000;
  padding: 0.6rem 1rem;
  border: 1px solid #292929;
  color: #f85149;
}

.dashboard-section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.dashboard-section h3 {
  color: #F2F2F2;
}
.dashboard-section p {
  font-size: 0.76rem;
}

.dashboard-nav-outer {
  background-color: #050505;
  border: 1px solid #292929;
}

.dashboard-nav {
  padding: 1rem;
}
.dashboard-nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.dashboard-nav ul li {
  font-size: 0.83rem;
  font-family: "Iosevka";
  padding-bottom: 0.7rem;
  width: 100%;
  transition-duration: 200ms;
}

.dashboard-inner-section {
  background-color: #050505;
  border: 1px solid #292929;
  padding: 1rem;
  margin: 1rem 0rem;
}
.dashboard-inner-section.no-pad {
  padding: 0;
}

.balance {
  font-family: "Iosevka";
  color: #F2F2F2;
  font-size: 1.6rem;
  letter-spacing: -2px;
}

.dash-table {
  margin: 0;
  padding: 0;
}
.dash-table button {
  background-color: #05FFA1;
  background-color: #02a063;
  color: #FFF;
  border: none;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
}
.dash-table tr th {
  border-top: none;
}

.dashboard-head-left {
  float: left;
}

.dashboard-head-right {
  float: right;
  text-align: right;
}

.moving {
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: 6px;
  color: #C8C8C8;
  float: right;
}
.moving i {
  color: #00aa40;
  font-size: 0.8rem;
  vertical-align: middle;
}

.status {
  background-color: #04ac58;
  color: #F2F2F2;
  padding: 0.1rem 0.2rem;
  border-radius: 4px;
  font-size: 0.72rem;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Works on Firefox */
  /* Works on Chrome, Edge, and Safari */
  color: #C8C8C8;
  background-color: #000000;
  font-family: "Iosevka";
}
html *, body * {
  scrollbar-width: thin;
  scrollbar-color: #2e2e2e rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 8px;
}
html *::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  border: 3px solid #2e2e2e;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, span, ul, li, table, tr, th, td {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  color: #C8C8C8;
  text-decoration: none;
}

input:focus {
  outline: none;
  outline-width: 0;
}

.d-none {
  display: none;
}

.tablink {
  cursor: pointer;
}

.tabcontent {
  display: none;
}

.dropbtn {
  cursor: pointer;
}

.show {
  display: block;
}

.pop {
  color: #05FFA1 !important;
}
.pop a {
  color: #05FFA1;
}

.bold {
  font-family: "DM Sans Bold";
}

.pop-alt {
  color: #04B16F !important;
}

.small {
  font-size: 0.7rem;
  color: #C8C8C8;
}

.border-t {
  border-top: 1px solid #292929;
}

.border-d {
  border-bottom: 1px solid #292929;
}

.border-l {
  border-left: 1px solid #292929;
}

.border-r {
  border-right: 1px solid #292929;
}

.a-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.green {
  color: #00aa40;
}

.red {
  color: #ef093a;
}

.grey {
  color: #929292;
}

.main-flashes {
  width: 100%;
}

.flash-message {
  font-family: "Iosevka";
  font-size: 0.78rem;
  padding: 6px 10px;
}

.flash-alert {
  background-color: #2e1e07;
  color: #e59823;
}

.flash-success {
  background-color: #031806;
  color: #13a036;
}

.flash-error {
  background-color: #180403;
  color: #c21515;
}

.l-root {
  height: 100%;
  overflow: hidden;
}
.l-root .grid-item {
  height: 100%;
  float: left;
  background-color: #000000;
}
.l-root .l-content {
  width: 100%;
}
@media (min-width: 1008px) {
  .l-root .l-content {
    width: 96.875%;
  }
}
.l-root .l-toolbar {
  display: none;
}
@media (min-width: 1008px) {
  .l-root .l-toolbar {
    display: inline-block;
    width: 3.125%;
    background-color: #000000;
  }
}

.toolbar-nav {
  list-style-type: none;
  text-align: center;
  padding: 0.75rem 0rem;
}
.toolbar-nav.bottom {
  position: absolute;
  bottom: 0;
  width: 3.125%;
  padding-bottom: 0;
}
.toolbar-nav li {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.toolbar-nav li a {
  color: #F2F2F2;
}

.main-wrapper {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  height: 100%;
}
.main-wrapper header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}
.main-wrapper main {
  flex: 10 10 auto;
  overflow-y: scroll;
}
.main-wrapper main .content {
  min-height: 60vh;
}
.main-wrapper .footer {
  flex: 1 0 1.8rem;
  border-top: 1px solid #292929;
}

.navbar {
  height: 2.6rem;
  background-color: #000000;
  border-bottom: 1px solid #292929;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}
.navbar .nav-sec {
  display: inline-block;
  height: 2.6rem;
  padding: 0rem 1rem;
  line-height: 2.6rem;
}
.navbar .nav-sec.right {
  float: right;
}
.navbar .nav-sec.padding-alt {
  padding: 0rem 0.6rem;
}
.navbar .link-sec {
  display: none;
}
@media (min-width: 641px) {
  .navbar .link-sec {
    display: inline-block;
  }
}
.navbar .nav-logo-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.navbar .nav-logo {
  vertical-align: middle;
  height: 1.28rem;
  width: 1.38rem;
}
@media (min-width: 641px) {
  .navbar .nav-logo {
    margin-right: 0.4rem;
  }
}
.navbar .nav-text {
  font-family: "DM Sans Bold";
  color: #05FFA1;
  line-height: 2.6rem;
  display: none;
}
@media (min-width: 641px) {
  .navbar .nav-text {
    display: inline-block;
  }
}
.navbar .nav-text .arrow-down {
  color: #C8C8C8;
  font-size: 0.6rem;
  padding-left: 0.2rem;
}
.navbar .search-bar {
  border: 1px solid #292929;
  padding: 0rem 0.4rem;
  display: inline-block;
  line-height: 1.8rem;
  width: 40vw;
}
@media (min-width: 641px) {
  .navbar .search-bar {
    width: 25vw;
  }
}
@media (min-width: 1008px) {
  .navbar .search-bar {
    width: 30vw;
  }
}
.navbar .search-bar i {
  font-size: 0.8rem;
}
.navbar .search-bar .search-field {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #C8C8C8;
  padding: 0.2rem 0rem;
  font-size: 0.84rem;
  width: 94%;
}
.navbar .nav-links {
  list-style-type: none;
  line-height: 2.6rem;
  height: 2.6rem;
  text-align: center;
}
.navbar .nav-links .nav-item {
  font-size: 0.8rem;
  padding: 0rem 0.6rem;
  display: inline;
}
.navbar .nav-links .nav-item a {
  text-decoration: none;
  color: #F2F2F2;
  transition-duration: 200ms;
}
.navbar .nav-links .nav-item a:hover {
  color: #05FFA1 !important;
}
.navbar .nav-links .nav-item.icon {
  font-size: 0.85rem;
  color: #F2F2F2;
}

#chartDropdown {
  position: absolute;
  background-color: #000000;
  border: 1px solid #292929;
  border-top: none;
  margin-top: 2px;
  margin-left: -1px;
  overflow: auto;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  white-space: normal;
  line-height: normal;
  cursor: auto;
  width: 175.5px;
}
#chartDropdown ul li {
  border-right: none;
  font-size: 0.68rem;
  padding: 0.4rem 0.64rem;
}

#timeFrameDisplay {
  width: 49px;
}

#timeDropdown {
  position: absolute;
  background-color: #000000;
  border: 1px solid #292929;
  border-top: none;
  margin-top: 2px;
  margin-left: -1px;
  overflow: auto;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  white-space: normal;
  line-height: normal;
  cursor: auto;
  width: 49px;
}
#timeDropdown ul li {
  border-right: none;
  font-size: 0.68rem;
  padding: 0.3rem 0.64rem;
}

#arbitrageDropdown {
  position: absolute;
  background-color: #000000;
  border: 1px solid #292929;
  border-top: none;
  left: 0;
  margin-top: -1px;
  width: 430px;
  overflow: auto;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  white-space: normal;
  line-height: normal;
  cursor: auto;
}
#arbitrageDropdown h5 {
  font-size: 0.76rem;
  font-family: "DM Sans Bold";
  color: #C8C8C8;
  margin-bottom: 1rem;
}
#arbitrageDropdown ul {
  padding-left: 0;
  list-style-type: none;
}
#arbitrageDropdown li {
  padding: 0.2rem 0;
  margin: 0;
  font-size: 0.76rem;
  font-family: "DM Sans";
}
#arbitrageDropdown li a {
  color: #C8C8C8;
  text-decoration: none;
}
#arbitrageDropdown p {
  margin-top: 1rem;
  font-size: 0.7rem;
  color: #C8C8C8;
  font-family: "DM Sans";
}
#arbitrageDropdown .col-6 {
  padding: 16px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #000000;
  margin: auto;
  border: 1px solid #6f6f6f;
  width: 28%;
  padding: 4px 12px;
  color: #C8C8C8;
}

.modal-content-inner {
  padding: 28px 8px;
}

#register hr, #login hr {
  width: 80%;
  margin-bottom: 1rem;
  border: none;
  border-top: 1px solid #292929;
}

.auth-headers {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.auth-headers h5 {
  font-size: 0.88rem;
  font-family: "Iosevka";
  color: #cccccc;
}
.auth-headers h5:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.auth-form {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.auth-field {
  font-family: "Iosevka";
  background-color: rgba(0, 0, 0, 0);
  color: #F2F2F2;
  padding: 6px 6px;
  width: 100%;
  margin: 4px 0px;
  font-size: 0.76rem;
  border: 1px solid #292929;
}

.auth-field:focus {
  outline-width: 0;
  border-radius: none;
  border: 1px solid #4B4B4B;
  background-color: #010101;
}

.auth-field:required:invalid {
  outline: none;
}

.auth-button {
  color: #C8C8C8;
  padding: 0.25rem 0.6rem;
  margin-top: 0.5rem;
  font-size: 0.82rem;
  cursor: pointer;
  background-color: #141414;
  border: 1px solid #292929;
  color: #C4C4C4;
}

.auth-bottom {
  font-size: 0.72rem;
  font-family: "Iosevka";
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0.8rem;
}
.auth-bottom a {
  color: #C8C8C8;
  text-decoration: none;
  border-bottom: 1px solid #7a7a7a;
}

/* The Close Button */
.close {
  color: #afafaf;
  float: right;
  display: inline;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #d6d6d6;
  text-decoration: none;
  cursor: pointer;
}

.ticker {
  height: 2rem;
  background-color: #000000;
  border-bottom: 1px solid #292929;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 0rem 0.5rem;
}
.ticker .ticker-item {
  font-size: 0.7rem;
  line-height: 2rem;
  margin-right: 1rem;
}
.ticker .ticker-item .ticker-img-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.ticker .ticker-item .ticker-img {
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
}
.ticker .ticker-item .ticker-item-price {
  color: #00aa40;
}

.l-main.main-pad {
  padding: 2rem 3rem;
}
.l-main .grid-item {
  height: 100%;
  float: left;
  background-color: #000000;
}
.l-main .l-charts {
  display: none;
  height: 100%;
}
@media (min-width: 641px) and (max-width: 1008px) {
  .l-main .l-charts {
    display: inline-block;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #292929;
  }
}
@media (min-width: 1008px) {
  .l-main .l-charts {
    display: inline-block;
    height: 100%;
    width: 50%;
    border-right: 1px solid #292929;
  }
}
.l-main .l-stats {
  display: none;
  height: 100%;
}
@media (min-width: 641px) {
  .l-main .l-stats {
    display: inline-block;
    height: 50%;
    width: 50%;
    border-right: 1px solid #292929;
  }
}
@media (min-width: 1008px) {
  .l-main .l-stats {
    display: inline-block;
    height: 100%;
    width: 25%;
    border-right: 1px solid #292929;
  }
}
.l-main .l-trading {
  width: 100%;
  height: 100%;
}
@media (min-width: 641px) {
  .l-main .l-trading {
    display: inline-block;
    height: 50%;
    width: 50%;
  }
}
@media (min-width: 1008px) {
  .l-main .l-trading {
    display: inline-block;
    height: 100%;
    width: 25%;
  }
}

footer {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.footer-sec {
  padding: 0rem 1rem;
  float: left;
  height: 1.8rem;
  line-height: 1.8rem;
}
.footer-sec.right {
  float: right;
}

.changelog-sec {
  display: none;
  background-color: #001f12;
  border-left: 1px solid #014b17;
  border-right: 1px solid #014b17;
}
.changelog-sec p {
  font-size: 0.7rem;
}

@media (min-width: 641px) {
  .changelog-sec {
    display: inline-block;
  }
}
.footer-nav {
  list-style-type: none;
  vertical-align: middle;
}
.footer-nav li {
  float: left;
  padding: 0rem 0.5rem;
  font-size: 0.7rem;
  line-height: 1.8rem;
}
.footer-nav li:first-child {
  padding-left: 0;
}
.footer-nav li:last-child {
  padding-right: 0;
}
.footer-nav li a {
  color: #C8C8C8;
  text-decoration: none;
}
.footer-nav .footer-nav-lg {
  display: none;
}
.footer-nav .footer-nav-sm {
  display: inline-block;
}
@media (min-width: 1008px) {
  .footer-nav .footer-nav-lg {
    display: inline-block;
  }
  .footer-nav .footer-nav-sm {
    display: none;
  }
}

.footer-alt-hr {
  border: none;
  background-color: #252525;
  height: 0.7px;
  width: 85%;
  margin-top: 2rem;
}

.footer-alt {
  padding: 3rem 0rem 4rem 0rem;
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #C8C8C8;
}
.footer-alt ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0.5rem;
}
.footer-alt li {
  font-size: 0.78rem;
  margin-bottom: 0.2rem;
  font-family: "Iosevka";
}
.footer-alt li a {
  color: #F2F2F2;
  -webkit-text-decoration-color: #929292;
  text-decoration-color: #929292;
  text-decoration: underline;
}
.footer-alt h5 {
  font-family: "DM Sans Bold";
  font-size: 0.88rem;
}
.footer-alt h5 a {
  color: #C8C8C8;
  text-decoration: none;
}

.copyright {
  margin-top: 0.4rem;
  font-size: 0.8rem;
}
.copyright span {
  font-size: 0.85rem;
  font-family: "DM Sans";
}

.left-nav {
  border-right: 1px solid #292929;
}
@media (min-width: 641px) {
  .left-nav {
    border-right: none;
  }
}

.section {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.section.stat-section, .section.order-section, .section.trade-section, .section.tri-section {
  height: 50%;
}
@media (min-width: 1008px) {
  .section.stat-section, .section.order-section, .section.trade-section, .section.tri-section {
    max-height: 100%;
  }
}
.section .section-header {
  border-bottom: 1px solid #292929;
  padding: 0.4rem 0.6rem;
  z-index: 1;
  background-color: #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.section .section-header.no-pad {
  padding: 0rem 0.1rem;
}
.section .section-header .section-title {
  font-size: 0.72rem;
}
.section .section-header .section-header-tabs {
  list-style-type: none;
  vertical-align: middle;
  display: flex;
}
.section .section-header .section-header-tabs li {
  font-size: 0.72rem;
  border-right: 1px solid #292929;
  padding: 0.4rem;
  cursor: pointer;
}
.section .section-header .section-header-tabs li i {
  font-size: 0.55rem;
}
.section .section-header .section-header-tabs li.dropbtn {
  padding: 0;
}
.section .section-header .section-header-tabs li .inner-li {
  padding: 0.4rem;
}
.section .section-content {
  padding: 0.8rem;
}
.section .section-content.no-pad {
  padding: 0rem;
}

.stat {
  font-size: 0.74rem;
  margin-bottom: 1rem;
  padding: 0rem 0.4rem;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}
.stat .stat-data {
  margin-left: 0.4rem;
}

.order-section {
  display: none;
}
@media (min-width: 1008px) {
  .order-section {
    display: block;
  }
}

.orders-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.order-col {
  flex-grow: 1;
  flex-basis: 33%;
}

.order-table {
  width: 100%;
  padding: 0rem 0.2rem;
}
.order-table th {
  font-size: 0.74rem;
  color: #F2F2F2;
  padding: 0.4rem 0rem;
}
.order-table td {
  font-size: 0.72rem;
}

.top-stock {
  color: #C8C8C8;
  padding: 0.75rem 0.75rem 0rem 0.75rem;
  border-radius: 5px;
  background-size: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.top-stock div {
  padding-bottom: 0.4rem;
}
.top-stock.short {
  border: 1px solid #8b0523;
  background: linear-gradient(0deg, #170106, #0e0003);
}
.top-stock.short:before {
  border-radius: inherit;
  background: linear-gradient(0deg, #2d010b, #0e0003);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -99;
  transition: opacity 0.15s;
}
.top-stock.short .top-stock-position {
  color: #8b0523;
}
.top-stock.short .top-stock-movement {
  color: #ef093a;
}
.top-stock.long {
  border: 1px solid #003313;
  background: linear-gradient(0deg, #001106, #001005);
}
.top-stock.long:before {
  border-radius: inherit;
  background: linear-gradient(0deg, #002b0f, #001005);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -99;
  transition: opacity 0.15s;
}
.top-stock.long .top-stock-position {
  color: #003313;
}
.top-stock.long .top-stock-movement {
  color: #00aa40;
}
.top-stock.neutral {
  border: 1px solid #2e2e2e;
  background: linear-gradient(0deg, #131313, #000000);
}
.top-stock.neutral:before {
  border-radius: inherit;
  background: linear-gradient(0deg, #2f2f2f, #000000);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -99;
  transition: opacity 0.15s;
}
.top-stock.neutral .top-stock-position {
  color: #2e2e2e;
}
.top-stock.neutral .top-stock-movement {
  color: #2b2b2b;
}
.top-stock:hover:before {
  opacity: 1;
}
.top-stock .top-stock-position {
  font-size: 1.05rem;
  float: right;
  font-family: "DM Sans";
}
.top-stock .top-stock-movement {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Iosevka";
}

.top-stock-name {
  font-size: 1.1rem;
  font-family: "DM Sans Bold";
}

.top-stock-graph-filler {
  height: 6rem;
}

.top-stock-price {
  font-size: 1.7rem;
  font-family: "Iosevka";
}

.top-stock-volume {
  font-family: "Iosevka";
  color: #F2F2F2;
  font-size: 0.84rem;
}

.top-stock-volume-label {
  color: #C8C8C8;
  font-size: 0.86rem;
}

.top-stock-volume-title {
  color: #FFF;
  font-size: 0.88rem;
  font-family: "DM Sans Medium";
}

.form-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-field {
  display: flex;
  width: 70%;
  justify-content: space-between;
  font-size: 0.76rem;
}
.form-field .two {
  flex-basis: 48%;
}
.form-field .one {
  flex-basis: 100%;
}

.form-btn {
  background-color: rgba(0, 0, 0, 0);
  color: #C4C4C4;
  border: 1px solid #292929;
  padding: 0.25rem 0rem;
  cursor: pointer;
}

.form-select {
  background-color: rgba(0, 0, 0, 0);
  color: #C4C4C4;
  border: 1px solid #292929;
  padding: 0.2rem 0.35rem;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

.form-input {
  background-color: rgba(0, 0, 0, 0);
  color: #C4C4C4;
  border: 1px solid #292929;
  padding: 0.2rem 0.35rem;
  width: 100%;
}

.reset-btn {
  width: 30%;
  background-color: #141414;
  border: 1px solid #656565;
  color: #C4C4C4;
  padding: 0.2rem 0rem;
  cursor: pointer;
}

.order-btn {
  width: 65%;
  background-color: #2D2D2D;
  border: 1px solid #656565;
  color: #C4C4C4;
  padding: 0.2rem 0rem;
  cursor: pointer;
}

.chart, .tri-tab {
  display: none;
}

.restricted {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.65) !important;
}
.restricted .restricted-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
}
.restricted .restricted-content p {
  font-size: 0.74rem;
}

.btn-alt {
  background-color: #04B16F;
  color: #F2F2F2;
  padding: 0.1rem 0.3rem;
  cursor: pointer;
}

.btn {
  border: 1px solid #292929;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  color: #C8C8C8;
  padding: 0.2rem 0.4rem;
  margin-top: 1rem;
}

.recent-order {
  width: 100%;
  background-color: #0c0c0c;
  padding: 0.6rem 0.6rem;
  font-size: 0.76rem;
  display: flex;
  align-items: center;
  white-space: normal;
  margin-bottom: 1rem;
}
.recent-order img {
  float: left;
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
}
.recent-order p {
  float: right;
}

.chat {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  height: 100%;
}
.chat .messages {
  flex: 10 1 auto;
  overflow-y: scroll;
}
.chat .send-message {
  flex: 1 0 2rem;
}

.message {
  color: #C8C8C8;
  font-size: 0.75rem;
  margin-bottom: 0.6rem;
}
.message .sender {
  background-color: #F2F2F2;
  padding: 0rem 0.4rem;
  color: #000000;
}

.notes {
  width: 100%;
  height: 12rem;
  padding: 0.4rem 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #292929;
  color: #C8C8C8;
}

.send-message .msg-content {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.4rem 0.5rem;
  border: 1px solid #292929;
  color: #C8C8C8;
  width: 100%;
  resize: none;
}

.order-status {
  padding: 0.2rem 0.4rem;
  color: #000000;
  border-radius: 12px;
  font-size: 0.76rem;
}

.order-pending {
  background-color: #ffd166;
}

.order-processing, .status-moving {
  background-color: #118ab2;
}

.order-failed, .status-unknown {
  background-color: #ef476f;
}

.order-success, .status-secured {
  background-color: #06d6a0;
}

.visibility {
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 50%;
  padding: 0.24rem;
  font-size: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
