@import "partials/colors";
@import "partials/grids";
@import "partials/buttons";

@import "partials/assets-page";
@import "partials/panel-page";
@import "partials/info-page";
@import "partials/notifications";

$--WIDTH-mobile: 640px; // Or less
$--WIDTH-tablet: 641px; // 641 - 1007
$--WIDTH-desktop: 1008px; // Or greater

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  color: $--COLOR-text;
  background-color: $--COLOR-bg;

  font-family: "Iosevka";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, span, ul, li, table, tr, th, td {
  padding: 0;
  margin: 0;
}

input:focus { outline-width: 0; }

.d-none { display: none; }
.tabcontent { display: none; }
.dropbtn { cursor: pointer; }
.show { display: block; }

.pop { color: $--COLOR-pop!important; }
.bold { font-family: "DM Sans Bold"; }
.pop-alt { color: $--COLOR-pop-alt!important; }

.border-t { border-top: 1px solid $--COLOR-border; }
.border-d { border-bottom: 1px solid $--COLOR-border; }
.border-l { border-left: 1px solid $--COLOR-border; }
.border-r { border-right: 1px solid $--COLOR-border; }

.green { color: $--COLOR-long; }
.red { color: $--COLOR-short; }
.grey { color: #929292; }

.main-flashes {
  width: 100%;
}

.flash-message {
  font-family: "Iosevka";
  font-size: 0.78rem;
  padding: 6px 10px;
}

.flash-alert { background-color:rgba(46,30,7,1.00); color: rgba(229,152,35,1.00); }
.flash-success { background-color:rgb(3, 24, 6); color: rgb(19, 160, 54); }
.flash-error { background-color:rgb(24, 4, 3); color: rgb(194, 21, 21); }

.l-root {
  @extend %clearfix;
  height: 100%;
  overflow: hidden;

  .grid-item {
    height: 100%;
    float: left;
    background-color: $--COLOR-bg;
  }

  .l-content {
    width: percentage(32/32);

    @media (min-width: $--WIDTH-desktop) {
      width: percentage(31/32);
    }
  }

  .l-toolbar {
    display: none;

    @media (min-width: $--WIDTH-desktop) {
      display: inline-block;
      width: percentage(1/32);
      background-color: $--COLOR-bg;  
    }
  }
}

.toolbar-nav {
  list-style-type: none;
  text-align: center;
  padding: 0.75rem 0rem;

  &.bottom {
    position: absolute;
    bottom: 0;
    width: percentage(1/32);
    padding-bottom: 0;
  }

  li {
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  li a {
    color: $--COLOR-text-alt;
  }
}

.main-wrapper {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  height: 100%;

  header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
  }

  main {
    flex: 0 10 auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .footer {
    flex: 1 0 1.8rem;
    border-top: 1px solid $--COLOR-border;
  }
}

.navbar {
  height: 2.6rem;
  background-color: $--COLOR-bg;
  border-bottom: 1px solid $--COLOR-border;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;

  .nav-sec {
    display: inline-block;
    height: 2.6rem;
    padding: 0rem 1rem;
    line-height: 2.6rem;

    &.right { float: right; }

    &.padding-alt { padding: 0rem 0.6rem; }
  }

  .link-sec {
    display: none;

    @media (min-width: $--WIDTH-tablet) {
      display: inline-block;
    }
  }

  .nav-logo-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .nav-logo {
    vertical-align: middle;
    height: 1.28rem;
    width: 1.38rem;

    @media (min-width: $--WIDTH-tablet) {
      margin-right: 0.4rem;
    }
  }

  .nav-text {
    font-family: "DM Sans Bold";
    color: $--COLOR-pop;
    line-height: 2.6rem;
    display: none;

    @media (min-width: $--WIDTH-tablet) {
      display: inline-block;
    }

    .arrow-down {
      color: $--COLOR-text;
      font-size: 0.6rem;
      padding-left: 0.2rem;
    }
  }

  .search-bar {
    border: 1px solid $--COLOR-border;
    padding: 0rem 0.4rem;
    display: inline-block;
    line-height: 1.8rem;
    width: 40vw;

    @media (min-width: $--WIDTH-tablet) {
      width: 25vw;
    }

    @media (min-width: $--WIDTH-desktop) {
      width: 30vw;
    }

    i {
      font-size: 0.8rem;
    }

    .search-field {
      background-color: $--COLOR-clear;
      border: none;
      color: $--COLOR-text;
      padding: 0.2rem 0rem;
      font-size: 0.84rem;
      // box-sizing: border-box;
      width: 94%;
    }
  }

  .nav-links {
    list-style-type: none;
    line-height: 2.6rem;
    height: 2.6rem;
    text-align: center;

    .nav-item {
      font-size: 0.8rem;
      padding: 0rem 0.6rem;
      display: inline;

      a {
        text-decoration: none;
        color: $--COLOR-text-alt;
        transition-duration: 200ms;

        &:hover {
          color: $--COLOR-pop!important;
        }
      }

      &.icon {
        font-size: 0.85rem;
        color: $--COLOR-text-alt;
      }
    }
  }
}

#chartDropdown {
  position: absolute;
  background-color: $--COLOR-bg;
  border: 1px solid $--COLOR-border;
  border-top: none;
  margin-top: 2px;
  margin-left: -1px;
  overflow: auto;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  white-space: normal;
  line-height: normal;
  cursor: auto;
  width: 175.5px;

  ul li {
    border-right: none;
    font-size: 0.68rem;
    padding: 0.4rem 0.64rem;
  }
}

#timeFrameDisplay {
  width: 49px;
}

#timeDropdown {
  position: absolute;
  background-color: $--COLOR-bg;
  border: 1px solid $--COLOR-border;
  border-top: none;
  margin-top: 2px;
  margin-left: -1px;
  overflow: auto;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  white-space: normal;
  line-height: normal;
  cursor: auto;
  width: 49px;

  ul li {
    border-right: none;
    font-size: 0.68rem;
    padding: 0.3rem 0.64rem;
  }
}

#arbitrageDropdown {
  position: absolute;
  background-color: $--COLOR-bg;
  border: 1px solid $--COLOR-border;
  border-top: none;
  left: 0;
  margin-top: -1px;
  width: 430px;
  overflow: auto;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  white-space: normal;
  line-height: normal;
  cursor: auto;

  h5 {
    font-size: 0.76rem;
    font-family: "DM Sans Bold";
    color: $--COLOR-text;
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  li {
    padding: 0.2rem 0;
    margin: 0;
    font-size: 0.76rem;
    font-family: "DM Sans";
  }

  li a {
    color: $--COLOR-text;
    text-decoration: none;
  }

  p {
    margin-top: 1rem;
    font-size: 0.7rem;
    color: $--COLOR-text;
    font-family: "DM Sans";
  }

  .col-6 {
    padding: 16px;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #000000;
  margin: auto;
  border: 1px solid rgb(111, 111, 111);
  width: 30%;
  padding: 4px 12px;

  color: $--COLOR-text;
}

.modal-content-inner {
  padding: 28px 8px;
}

.auth-headers {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;

  h5 {
    font-size: 0.88rem;
    font-family: "Iosevka";
    color: #cccccc;
  }
  
  h5:hover {
    cursor: pointer;
    color: #FFFFFF;
  }
  
}

.auth-form {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.auth-field {
  font-family: "Iosevka";
  background-color: $--COLOR-bg-pop;
  color: $--COLOR-text-alt;
  padding: 6px 6px;
  width: 100%;
  margin: 4px 0px;
  font-size: 0.76rem;
  border: none;
  border: 1px solid rgba(0,0,0,0);
}

.auth-field:focus {
  outline-width: 0;
  border: 1px solid $--COLOR-bg-pop;
  background-color: $--COLOR-bg-pop-pop;
}

.auth-button {
  margin-top: 12px;
  font-family: "Iosevka";
  font-size: 0.8rem;
  border: none;
  color: #afafaf;
  background-color: $--COLOR-bg-pop-pop;
  padding: 6px 8px;
}

.auth-bottom {
  font-size: 0.72rem;
  font-family: "Iosevka";
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0.8rem;

  a {
    color: $--COLOR-text;
    text-decoration: none;
    border-bottom: 1px solid #7a7a7a;
  }
}

/* The Close Button */
.close {
  color: #afafaf;
  float: right;
  display: inline;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #d6d6d6;
  text-decoration: none;
  cursor: pointer;
}

.ticker {
  height: 2rem;
  background-color: $--COLOR-bg;
  border-bottom: 1px solid $--COLOR-border;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 0rem 0.5rem;

  .ticker-item {
    font-size: 0.7rem;
    line-height: 2rem;
    margin-right: 1rem;

    .ticker-img-helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .ticker-img {
      vertical-align: middle;
      width: 1.2rem;
      height: 1.2rem;
    }

    .ticker-item-price {
      color: $--COLOR-long;
    }
  }
}


.l-main {
  @extend %clearfix;

  &.main-pad {
    padding: 2rem 3rem;
  }

  .grid-item {
    height: 100%;
    float: left;
    background-color: $--COLOR-bg;
  }

  .l-charts {
    display: none;
    height: 100%;

    @media (min-width: $--WIDTH-tablet) and (max-width: $--WIDTH-desktop) {
      display: inline-block;
      width: percentage(12/12);
      height: 50%;
      border-bottom: 1px solid $--COLOR-border;
    }

    @media (min-width: $--WIDTH-desktop) {
      display: inline-block;
      height: 100%;
      width: percentage(6/12);
      border-right: 1px solid $--COLOR-border;
    }
  }
  .l-stats {
    display: none;
    height: 100%;

    @media (min-width: $--WIDTH-tablet) {
      display: inline-block;
      height: 50%;
      width: percentage(6/12);
      border-right: 1px solid $--COLOR-border;
    }

    @media (min-width: $--WIDTH-desktop) {
      display: inline-block;
      height: 100%;
      width: percentage(3/12);
      border-right: 1px solid $--COLOR-border;
    }
  }
  .l-trading {
    width: percentage(12/12);
    height: 100%;

    @media (min-width: $--WIDTH-tablet) {
      display: inline-block;
      height: 50%;
      width: percentage(6/12);
    }

    @media (min-width: $--WIDTH-desktop) {
      display: inline-block;
      height: 100%;
      width: percentage(3/12);
    }
  }
}

footer {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.footer-sec {
  padding: 0rem 1rem;
  float: left;
  height: 1.8rem;
  line-height: 1.8rem;

  &.right {
    float: right;
  }
}

.changelog-sec {
  display: none;
  background-color: #001f12;

  border-left: 1px solid #014b17;
  border-right: 1px solid #014b17;

  p {
    font-size: 0.7rem;
  }
}

@media (min-width: $--WIDTH-tablet) {
  .changelog-sec { display: inline-block; }
}

.footer-nav {
  list-style-type: none;
  vertical-align: middle;

  li {
    float: left;
    padding: 0rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.8rem;

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }

  li a {
    color: $--COLOR-text;
    text-decoration: none;
  }

  .footer-nav-lg { display: none; }
  .footer-nav-sm { display: inline-block; }

  @media (min-width: $--WIDTH-desktop) {
    .footer-nav-lg { display: inline-block; }
    .footer-nav-sm { display: none; }
  }
}

.footer-alt-hr {
  border: none;
  background-color:rgb(37, 37, 37);
  height: 0.7px;
  width: 85%;
  margin-top: 2rem;
}

.footer-alt {
  padding: 3rem 0rem 4rem 0rem;

  width: 72%;
  margin-left: auto;
  margin-right: auto;
  display: block;

  color: $--COLOR-text;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.5rem;
  }
  li {
    font-size: 0.78rem;
    margin-bottom: 0.2rem;
    font-family: "Iosevka";

    a {
      color: $--COLOR-text-alt;
      -webkit-text-decoration-color: #929292;
      text-decoration-color: #929292;
      text-decoration: underline;
    }
  }
  h5 {
    font-family: "DM Sans Bold";
    font-size: 0.88rem;
    
    a {
      color: $--COLOR-text;
      text-decoration: none;
    }
  }
}

.copyright {
  margin-top: 0.4rem;
  font-size: 0.8rem;

  span {
    font-size: 0.85rem;
    font-family: "DM Sans";
  }
}

.left-nav {
  border-right: 1px solid $--COLOR-border;

  @media (min-width: $--WIDTH-tablet) {
    border-right: none;
  }
}

.section {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &.stat-section, &.order-section{
    height: 50%;

    @media (min-width: $--WIDTH-desktop) {
      max-height: 100%;
    }
  }

  .section-header {
    border-bottom: 1px solid $--COLOR-border;
    padding: 0.4rem 0.6rem;

    z-index: 1;
    background-color: $--COLOR-bg;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    &.no-pad { padding: 0rem 0.1rem; }

    .section-title {
      font-size: 0.72rem;
    }

    .section-header-tabs {
      list-style-type: none;
      vertical-align: middle;
      display: flex;

      li {
        font-size: 0.72rem;
        border-right: 1px solid $--COLOR-border;
        padding: 0.4rem;
        cursor: pointer;

        i {
          font-size: 0.55rem;
        }

        &.dropbtn {
          padding: 0;
        }

        .inner-li {
          padding: 0.4rem;
        }
      }
    }
  }

  .section-content {
    padding: 0.8rem;

    &.no-pad {
      padding: 0rem;
    }
  }
}

.stat {
  font-size: 0.74rem;
  margin-bottom: 1rem;
  padding: 0rem 0.4rem;
  white-space: nowrap;

  display: flex;
  justify-content: space-between;

  .stat-data {
    margin-left: 0.4rem;
  }
}

.order-section {
  display: none;

  @media(min-width: $--WIDTH-desktop) {
    display: block;
  }
}

.orders-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.order-col {
  flex-grow: 1;
  flex-basis: 33%;
}

.order-table {
  width: 100%;
  padding: 0rem 0.2rem;

  th {
    font-size: 0.74rem;
    color: $--COLOR-text-alt;
    padding: 0.4rem 0rem;
  }

  td {
    font-size: 0.72rem;
  }
}

// Index Page

.top-stock {
  color: $--COLOR-text;
  padding: 0.75rem 0.75rem 0rem 0.75rem;
  border-radius: 5px;

  div {
    padding-bottom: 0.4rem;
  }

  &.short {
    border: 1px solid $--COLOR-short-alt;
    background: linear-gradient(0deg, ($--COLOR-short-bg), ( #0e0003));

    &:before {
      border-radius: inherit;
      background: linear-gradient(0deg, (#2d010b), ( #0e0003));
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      z-index: -99;
      transition: opacity 0.15s;
    }

    .top-stock-position {
      color: $--COLOR-short-alt;
    }

    .top-stock-movement {
      color: $--COLOR-short;
    }
  }

  &.long {
    border: 1px solid $--COLOR-long-alt;
    background: linear-gradient(0deg, ($--COLOR-long-bg), (rgb(0, 16, 5)));

    &:before {
      border-radius: inherit;
      background: linear-gradient(0deg, (#002b0f), (rgb(0, 16, 5)));
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      z-index: -99;
      transition: opacity 0.15s;
    }

    .top-stock-position {
      color: $--COLOR-long-alt;
    }

    .top-stock-movement {
      color: $--COLOR-long;
    }
  }

  &.neutral {
    border: 1px solid $--COLOR-neutral-alt;
    background: linear-gradient(0deg, ($--COLOR-neutral-bg), ($--COLOR-bg));

    &:before {
      border-radius: inherit;
      background: linear-gradient(0deg, (#2f2f2f), ($--COLOR-bg));
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      z-index: -99;
      transition: opacity 0.15s;
    }

    .top-stock-position {
      color: $--COLOR-neutral-alt;
    }

    .top-stock-movement {
      color: $--COLOR-neutral;
    }
  }

  background-size: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  .top-stock-position {
    font-size: 1.05rem;
    float: right;
    font-family: "DM Sans";
  }

  .top-stock-movement {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Iosevka";
  }
}

.top-stock-name {
  font-size: 1.1rem;
  font-family: "DM Sans Bold";
}

.top-stock-graph-filler {
  height: 6rem;
}

.top-stock-price {
  font-size: 1.7rem;
  font-family: "Iosevka";
}

.top-stock-volume {
  font-family: "Iosevka";
  color: $--COLOR-text-alt;
  font-size: 0.84rem;
}

.top-stock-volume-label {
  color: $--COLOR-text;
  font-size: 0.86rem;
}

.top-stock-volume-title {
  color: #FFF;
  font-size: 0.88rem;
  font-family: "DM Sans Medium";
}

.form-label {
  font-size: 0.8rem;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.reset-btn {
  width: 30%;
}

.order-btn {
  width: 60%;
}

.chart {
  display: none;
}