@import "colors";

.section {
  height: 100%;
  width: 100%;
  border-right: 1px solid $--COLOR-neutral-alt;
}

.section-header {
  margin-top: 0!important;
  border-bottom: 1px solid $--COLOR-neutral-alt;
  height: 1.8rem;
  line-height: 1.8rem;
  vertical-align: middle;
  padding: 0rem 1rem;

  .section-title {
    color: $--COLOR-text;
    font-size: 0.78rem;
    font-weight: lighter;
    display: inline-block;
  }

  .section-alt {
    color: $--COLOR-text;
    font-size: 0.76rem;
    font-weight: lighter;
    display: inline-block;
    float: right;

    a {
      cursor: pointer;
      text-decoration: none;
      padding: 0rem 0.5rem;
      color: #05DB89;
    }
  }
  .section-button {
    float: left;
    font-size: 0.78rem;
    padding: 0rem 0.8rem;
    border-right: 1px solid $--COLOR-neutral-alt;
    cursor: pointer;

    &.dropbtn {
      width: 50px;
      padding: 0!important;
      text-align: center;
      span {
        margin-right: 0.1rem;
      }
    }
  }

  .section-button:first-child {
    padding-left: 0;
  }
}

.section-body {
  &.w-pad {
    padding: 0.5rem 1rem;
  }
  border-bottom: 1px solid $--COLOR-neutral-alt;
}

.statistics {
  .col-6 {
    padding: 0rem 0.5rem;
  }
  p {
    color: #bababa;
    font-size: 0.8rem;
    font-family: "Iosevka";
    margin-bottom: 1rem;

    span {
      float: right;
      color: #dfdfdf;
    }
  }
}

.askBid-label {
  margin-left: 0.75rem;
  margin-top: 1rem;
  color: $--COLOR-text;
  font-family: "Iosevka";
  font-size: 0.8rem;
}

.ask {
  height: 20px;
  width: 75%;
  background-color: #05DB89;
  border: 1px solid #05DB89;
  border-right: none;
  float: right;
  margin: 4rem 0rem;
}

.ask-label {
  margin-top: -5rem;
  margin-left: 25%;
}

.bid {
  height: 20px;
  width: 20%;
  background-color: rgba(0,0,0,0);
  border: 1px solid #05DB89;
  border-left: none;
  margin: 4rem 0rem;
}

.w-r-border {
  border-right: 1px solid $--COLOR-neutral-alt;
}

