$--COLOR-bg: #000000;
$--COLOR-bg-alt: #010101;
$--COLOR-bg-pop: #000a0c;
$--COLOR-bg-pop-pop: #001216;
$--COLOR-clear: rgba(0,0,0,0);

$--COLOR-text: #C8C8C8;
$--COLOR-text-alt: #F2F2F2;
$--COLOR-text-sm: #c4c4c4;
$--COLOR-text-dark: #4B4B4B;
$--COLOR-pop: #05FFA1;
$--COLOR-pop-alt: #04B16F;

$--COLOR-long: #00aa40;
$--COLOR-long-alt: rgba(0, 51, 19, 1);
$--COLOR-long-bg: rgba(0, 17, 6, 1);
$--COLOR-short: #ef093a;
$--COLOR-short-alt: #8b0523;
$--COLOR-short-bg: #170106;
$--COLOR-neutral: #2b2b2b;
$--COLOR-neutral-alt: rgb(46, 46, 46);
$--COLOR-neutral-bg: rgb(19, 19, 19);

$--COLOR-border: #292929;
$--COLOR-form-bg: #121212;