@import "partials/colors";
@import "partials/grids";

$--WIDTH-mobile: 640px; // Or less
$--WIDTH-tablet: 641px; // 641 - 1007
$--WIDTH-desktop: 1008px; // Or greater

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  color: $--COLOR-text;
  font-family: "Iosevka";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, span, ul, li {
  padding: 0;
  margin: 0;
}

input:focus { outline-width: 0; }
.pop { color: $--COLOR-pop; }
.border-r { border-right: 1px solid $--COLOR-border; }
.border-l { border-left: 1px solid $--COLOR-border; }

.l-root {
  @extend %clearfix;
  height: 100%;

  .grid-item {
    height: 100%;
    float: left;
    background-color: $--COLOR-bg;
  }

  .l-content {
    width: percentage(32/32);

    @media (min-width: $--WIDTH-desktop) {
      width: percentage(31/32);
    }
  }

  .l-toolbar {
    display: none;

    @media (min-width: $--WIDTH-desktop) {
      display: inline-block;
      width: percentage(1/32);
      background-color: $--COLOR-bg;  
    }
  }
}

.toolbar-nav {
  list-style-type: none;
  text-align: center;
  padding: 0.75rem 0rem;

  &.bottom {
    position: absolute;
    bottom: 0;
    width: percentage(1/32);
    padding-bottom: 0;
  }

  li {
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  li a {
    color: $--COLOR-text-alt;
  }
}

.main-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;

  header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
  }

  main {
    flex: 1 1 auto;
  }

  footer {
    flex: 0 1 1.8rem;
    border-top: 1px solid $--COLOR-border;
  }
}

.navbar {
  height: 2.6rem;
  background-color: $--COLOR-bg;
  border-bottom: 1px solid $--COLOR-border;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;

  .nav-sec {
    display: inline-block;
    height: 2.6rem;
    padding: 0rem 1rem;
    line-height: 2.6rem;

    &.right { float: right; }

    &.padding-alt { padding: 0rem 0.6rem; }
  }

  .link-sec {
    display: none;

    @media (min-width: $--WIDTH-tablet) {
      display: inline-block;
    }
  }

  .nav-logo-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .nav-logo {
    vertical-align: middle;
    height: 1.28rem;
    width: 1.38rem;

    @media (min-width: $--WIDTH-tablet) {
      margin-right: 0.4rem;
    }
  }

  .nav-text {
    font-family: "DM Sans Bold";
    color: $--COLOR-pop;
    line-height: 2.6rem;
    display: none;

    @media (min-width: $--WIDTH-tablet) {
      display: inline-block;
    }

    .arrow-down {
      color: $--COLOR-text;
      font-size: 0.6rem;
      padding-left: 0.2rem;
    }
  }

  .search-bar {
    border: 1px solid $--COLOR-border;
    padding: 0rem 0.4rem;
    display: inline-block;
    line-height: 1.8rem;
    width: 50vw;

    @media (min-width: $--WIDTH-tablet) {
      width: 25vw;
    }

    @media (min-width: $--WIDTH-desktop) {
      width: 40vw;
    }

    i {
      font-size: 0.8rem;
    }

    .search-field {
      background-color: $--COLOR-clear;
      border: none;
      color: $--COLOR-text;
      padding: 0.2rem 0rem;
      font-size: 0.84rem;
      // box-sizing: border-box;
      width: 94%;
    }
  }

  .nav-links {
    list-style-type: none;
    line-height: 2.6rem;
    height: 2.6rem;
    text-align: center;

    .nav-item {
      font-size: 0.8rem;
      padding: 0rem 0.6rem;
      display: inline;

      a {
        text-decoration: none;
        color: $--COLOR-text-alt;
      }

      &.icon {
        font-size: 0.85rem;
        color: $--COLOR-text-alt;
      }
    }
  }
}

.ticker {
  height: 2rem;
  background-color: $--COLOR-bg;
  border-bottom: 1px solid $--COLOR-border;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 0rem 2rem;

  .ticker-item {
    font-size: 0.7rem;
    line-height: 2rem;
    margin-right: 1rem;

    .ticker-img-helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .ticker-img {
      vertical-align: middle;
      width: 1.2rem;
      height: 1.2rem;
    }

    .ticker-item-price {
      color: $--COLOR-long;
    }
  }
}


.l-main {
  @extend %clearfix;
  height: 100%;

  .grid-item {
    height: 100%;
    float: left;
    background-color: $--COLOR-bg;
  }

  .l-charts {
    display: none;
    height: 100%;

    @media (min-width: $--WIDTH-tablet) and (max-width: $--WIDTH-desktop) {
      display: inline-block;
      width: percentage(12/12);
      height: 50%;
      border-bottom: 1px solid $--COLOR-border;
    }

    @media (min-width: $--WIDTH-desktop) {
      display: inline-block;
      height: 100%;
      width: percentage(6/12);
      border-right: 1px solid $--COLOR-border;
    }
  }
  .l-stats {
    display: none;
    height: 100%;

    @media (min-width: $--WIDTH-tablet) {
      display: inline-block;
      height: 50%;
      width: percentage(6/12);
      border-right: 1px solid $--COLOR-border;
    }

    @media (min-width: $--WIDTH-desktop) {
      display: inline-block;
      height: 100%;
      width: percentage(3/12);
      border-right: 1px solid $--COLOR-border;
    }
  }
  .l-trading {
    width: percentage(12/12);
    height: 100%;

    @media (min-width: $--WIDTH-tablet) {
      display: inline-block;
      height: 50%;
      width: percentage(6/12);
    }

    @media (min-width: $--WIDTH-desktop) {
      display: inline-block;
      height: 100%;
      width: percentage(3/12);
    }
  }
}

footer {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.footer-sec {
  padding: 0rem 1rem;
  float: left;
  height: 1.8rem;
  line-height: 1.8rem;

  &.right {
    float: right;
  }
}

.changelog-sec {
  display: none;
  background-color: #001f12;

  border-left: 1px solid #014b17;
  border-right: 1px solid #014b17;

  p {
    font-size: 0.72rem;
  }
}

@media (min-width: $--WIDTH-tablet) {
  .changelog-sec { display: inline-block; }
}

.footer-nav {
  list-style-type: none;
  vertical-align: middle;

  li {
    float: left;
    padding: 0rem 0.5rem;
    font-size: 0.72rem;
    line-height: 1.8rem;

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }

  li a {
    color: $--COLOR-text;
    text-decoration: none;
  }

  .footer-nav-lg { display: none; }
  .footer-nav-sm { display: inline-block; }

  @media (min-width: $--WIDTH-desktop) {
    .footer-nav-lg { display: inline-block; }
    .footer-nav-sm { display: none; }
  }
}

.left-nav {
  border-right: 1px solid $--COLOR-border;

  @media (min-width: $--WIDTH-tablet) {
    border-right: none;
  }
}

.section {
  &.border-b { border-bottom: 1px solid $--COLOR-border; }

  &.stat-0-section {
    height: 100%;

    @media (min-width: $--WIDTH-desktop) {
      height: 50%;
    }
  }

  .section-header {
    border-bottom: 1px solid $--COLOR-border;
    padding: 0.4rem 0.6rem;

    &.no-pad { padding: 0rem 0.1rem; }

    .section-title {
      font-size: 0.72rem;
    }

    .section-header-tabs {
      list-style-type: none;
      vertical-align: middle;
      display: flex;

      li {
        font-size: 0.72rem;
        border-right: 1px solid $--COLOR-border;
        padding: 0.4rem;
        cursor: pointer;

        i {
          font-size: 0.55rem;
        }
      }
    }
  }

  .section-content {
    padding: 0.8rem;
  }
}

.stat {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 0rem 0.4rem;
  white-space: nowrap;

  display: flex;
  justify-content: space-between;

  .stat-data {
    margin-left: 0.4rem;
  }
}