{% extends "layouts/layout-alt.html" %}
{% block content %}

<div class="about-section">
  <div class="row" style="display: flex;">
    <div class="col-3">
      <div class="about-nav-outer">
        <div class="about-nav">
          <div class="tabs">
            <ul>
              <li class="tablink" onclick="openTab(event, 'about', 'tabcontent', 'tablink')">About</li>
              <li class="tablink" onclick="openTab(event, 'guides', 'tabcontent', 'tablink')">Guides</li>
              <li class="tablink" onclick="openTab(event, 'tos', 'tabcontent', 'tablink')">Terms of Service</li>
              <li class="tablink" onclick="openTab(event, 'contact', 'tabcontent', 'tablink')">Contact</li>
              <li class="tablink" onclick="openTab(event, 'support', 'tabcontent', 'tablink')">Support</li>
            </ul>  
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="about-content">
        <div id="about" class="tabcontent" style="display: block;">
          <h2>About Minance</h2>
          <br>
          <p>Minance was created because we wanted to fill the in the missing piece in all Hypixel Skyblock bazaar tracking websites out there. No other site provides the functionality Minance provides. Here's a list of the current features and others that are soon to come.</p>
          <h4 style="margin-top: 1rem;">Features</h4>
          <ul>
            <li>Real-time, accurate bazaar item prices. Updated every <span class="bold">15</span> seconds.</li>
            <li>A wide array of technical analysis tools and charts.</li>
            <li>Advanced filters for querying bazaar data.</li>
            <li>Crash and rally notifications live, on-site.</li>
            <li>All sensitive user data encrypted.</li>
          </ul>
          <h4>In the Works</h4>
          <ul>
            <li>Personal user accounts for persistent data tracking.</li>
            <ul>
              <li>Read more <a href="#">here</a>.</li> <!-- Link to github issue with data on user accounts -->
            </ul>
            <li>Live chat for conversing on the hottest 🔥 trades.</li>
          </ul>
          <h4>Want to Help?</h4>
          <p>Whether you've got programming experience, want report some issues or just leave feedback. Check out our public <a href="#">github</a> and leave an issue there. For contributing make sure to check out the contributing docs. Head to the <a href="#">discord</a> if you have any specific questions.</p>  

          <h4 style="margin-bottom: 0.5rem;">Support Us</h4>
          <p class="mb-1">Bitcoin: <span class="code">bc1qsdcdjnugcnvsk826mpldcf86z09lwjl630dv44</span></p>
          <p class="mb-1">Monero: <span class="code">44m8eZTkkE954HqZBYZsuGG3cHYa94qCLXzLMbbjR5FFJLgnD1oTw9SKeFiD5qDJTCNSge2m1E6S76qvWoJm6yaMLBYkDDy</span></p>
          <p class="mb-1">Paypal: <span class="code">https://www.paypal.me/minance</span></p>
        </div>
        <div id="guides" class="tabcontent">
          <h2>Guides</h2>
          <br>
          <p>Browse the collection of guides that Minance currently offers.</p>
          <h4>How to start bazaar flipping?</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quam quia asperiores officia laborum repudiandae eligendi voluptatum aliquam maxime sequi. Officiis eligendi cupiditate necessitatibus velit hic nam quod dolorem voluptas...</p>
          <h4>How to start bazaar flipping?</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quam quia asperiores officia laborum repudiandae eligendi voluptatum aliquam maxime sequi. Officiis eligendi cupiditate necessitatibus velit hic nam quod dolorem voluptas...</p>
        </div>
        <div id="tos" class="tabcontent">
          <h2>Terms of Service</h2>
          <br>
          <p>Coming soon...</p>
        </div>
        <div id="contact" class="tabcontent">
          <h2>Contact</h2>
          <br>
          <p>For any business inquiries please message me at <span class="code">ian.koide@protonmail.com</span> or drop me a DM on Discord.</p>
        </div>
        <div id="support" class="tabcontent">
          <h2>Support</h2>
          <br>
          <p>Checkout the Discord server and <span class="code">#support</span> channel to receive help or guidance.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}