<hr class="footer-hr">
<div class="footer">
  <div class="row">
    <div class="col-3">
      <h5><a href="https://minance.net/" style="color: #05ffa1;">Minance</a></h5>
    </div>
    <div class="col-3">
      <h5>About</h5>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">ToS</a></li>
        <li><a href="#">Product Guides</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h5>Contact</h5>
      <ul>
        <li><a href="https://github.com/minancenet/">Github</a></li>
        <li><a href="https://twitter.com/minance/">Twitter</a></li>
        <li><a href="#">Hypixel Forums</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h5>Products</h5>
      <ul>
        <li>Lorem</li>
        <li>Ipsum</li>
      </ul>
    </div>
  </div>
</div>