<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name=”description” content=”Minance provides simple data visualization, analysis and simulation for the Hypixel Skyblock bazaar.”/>

<link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
<link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='styles/fonts.css') }}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

<script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/modal.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/notification.js') }}"></script>

<title>Minance | {{ title }}</title>
<link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='img/favicon.ico') }}"/>