<!DOCTYPE html>
<html>
  <head>
    {% include "layouts/components/head.html" %}
    {% block head %} {% endblock head %}
  </head>
  <body>
    <div class="l-root">
      <div class="l-content grid-item main-wrapper">
        <header>
          {% include "layouts/components/header.html" %}
          {% block header %} {% endblock header %}
        </header>
        <main>
          <div class="l-main main-pad">
            {% include "layouts/components/auth.html" %}
            {% block auth %} {% endblock auth %}

            {% include "layouts/components/notifications.html" %}
            {% block notifications %} {% endblock notifications %}

            {% block content %}
            {% endblock content %}

            {% include "layouts/components/footer-alt.html" %}
            {% block footer %} {% endblock footer %}  
          </div>
        </main>
      </div>
      <div class="l-toolbar grid-item border-l">
        {% include "layouts/components/toolbar.html" %}
        {% block toolbar %} {% endblock toolbar %}
      </div>
    </div>
  </body>
</html>