<!DOCTYPE html>
<html lang=”en-US”>
  <head>
    {% include "layouts/head.html" %}
    {% block head %} {% endblock head %}
  </head>
  <body>
    <header>
      {% include "layouts/notifications.html" %}
      {% block notifications %} {% endblock notifications %}

      {% include "layouts/header.html" %}
      {% block header %} {% endblock header %}
    </header>
    <main>
      {% include "auth/auth.html" %}
      {% block auth %} {% endblock auth %}

      <div class="main-wrapper-alt bg">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
    <footer>
      {% include "layouts/footer.html" %}
      {% block footer %} {% endblock footer %}
    </footer>
  </body>
</html>