<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" text="text/css" href="static/styles/fonts.css" />
    <link rel="stylesheet" text="text/css" href="static/styles/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  </head>
  <body>
    <div class="l-root">
      <div class="l-content grid-item main-wrapper">
        <header>
          <div class="navbar">
            <div class="nav-sec border-r">
              <span class="nav-logo-helper"></span><img class="nav-logo" src="static/img/logo.png" alt="logo image"/><span class="nav-text">Minance <i class="fas fa-chevron-down arrow-down"></i></span>
            </div>
            <div class="nav-sec">
              <form>
                <div class="search-bar">
                  <i class="fas fa-search"></i>
                  <input class="search-field" type="text" placeholder="Search">
                </div>
              </form>
            </div>
            <div class="nav-sec link-sec">
              <ul class="nav-links">
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">Assets</a></li>
                <li class="nav-item"><a href="#">About</a></li>
              </ul>
            </div>
            <div class="nav-sec right border-l padding-alt">
              <ul class="nav-links">
                <li class="nav-item icon"><a href="#"><i class="fas fa-user auth-icon"> <span class="pop">+</span></i></a></li>
              </ul>
            </div>
          </div>
          <div class="ticker">
            <span class="ticker-item">
              <span class="ticker-img-helper"></span>
              <img class="ticker-img" src="static/img/stock_of_stonks.webp" />
              Stock of Stonks
              <span class="ticker-item-price">$15402</span>
            </span>

            <span class="ticker-item">
              <span class="ticker-img-helper"></span>
              <img class="ticker-img" src="static/img/recombobulator-3000.webp" />
              Recombobulator 3000
              <span class="ticker-item-price">$385402</span>
            </span>

            <span class="ticker-item">
              <span class="ticker-img-helper"></span>
              <img class="ticker-img" src="static/img/enchanted_redstone.webp" />
              Enchanted Redstone Block
              <span class="ticker-item-price">$385402</span>
            </span>

            <span class="ticker-item">
              <span class="ticker-img-helper"></span>
              <img class="ticker-img" src="static/img/superior_fragment.webp" />
              Superior Dragon Fragment
              <span class="ticker-item-price">$385402</span>
            </span>

            <span class="ticker-item">
              <span class="ticker-img-helper"></span>
              <img class="ticker-img" src="static/img/whale_bait.webp" />
              Whale Bait
              <span class="ticker-item-price">$385402</span>
            </span>
          </div>
        </header>
        <main>
          <div class="l-main">
            <div class="l-charts grid-item">
              A
            </div>
            <div class="l-stats grid-item">
              B
            </div>
            <div class="l-trading grid-item">
              C
            </div>
          </div>
        </main>
        <footer>
          <div class="footer-sec left-nav">
            <ul class="footer-nav">
              <li><a href="#">About</a></li>
              <li><a href="#">Guides</a></li>
            </ul>
          </div>
          <div class="footer-sec changelog-sec">
            <p>Changelog: Feb 24th, 2021: New Styling, Bug Fixes, User Auth</p>
          </div>
          <div class="footer-sec right border-l">
            <ul class="footer-nav">
              <div class="footer-nav-lg">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Discord</a></li>
                <li><a href="#">Github</a></li>  
              </div>
              <div class="footer-nav-sm">
                <li><a href="#">Social</a></li>
              </div>
            </ul>
          </div>
        </footer>
      </div>
      <div class="l-toolbar grid-item border-l">
        <ul class="toolbar-nav">
          <li class="toolbar-item"><a href="#"><i class="far fa-comment-dots"></i></a></li>
          <li class="toolbar-item"><a href="#"><i class="far fa-edit"></i></a></li>
        </ul>
        <ul class="toolbar-nav bottom">
          <li class="toolbar-item"><a href="#"><i class="fas fa-cog"></i></a></li>
        </ul>
      </div>
    </div>
  </body>
</html>