<div class="footer">
  <div class="footer-sec left-nav">
    <ul class="footer-nav">
      <li><a href="{{ url_for('main.about') }}">About</a></li>
      <li><a href="{{ url_for('main.guides') }}">Guides</a></li>
    </ul>
  </div>
  <div class="footer-sec changelog-sec">
    <p>Changelog: Feb 24th, 2021: New Styling, Bug Fixes, User Auth</p>
  </div>
  <div class="footer-sec right border-l">
    <ul class="footer-nav">
      <div class="footer-nav-lg">
        <li><a href="https://twitter.com/minancenet" target="_blank">Twitter</a></li>
        <li><a href="https://discord.gg/swF76FAUVX" target="_blank">Discord</a></li>
        <li><a href="https://github.com/minancenet" target="_blank">Github</a></li>  
      </div>
      <div class="footer-nav-sm">
        <li><a href="#">Social</a></li>
      </div>
    </ul>
  </div>
</div>