<hr class="footer-alt-hr">
<div class="footer-alt">
  <div class="row">
    <div class="col-3">
      <h5><a href="https://minance.net/"><span class="pop">Minance</span></a></h5>
      <p class="copyright">2021 <span>©</span></p>
    </div>
    <div class="col-3">
      <h5>About</h5>
      <ul>
        <li><a href="{{ url_for('main.about') }}">About</a></li>
        <li><a href="#">ToS</a></li>
        <li><a href="#">Guides</a></li>
        <li><a href="#">API Docs</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h5>Contact</h5>
      <ul>
        <li><a href="https://github.com/minancenet/">Github</a></li>
        <li><a href="https://twitter.com/minance/">Twitter</a></li>
        <li><a href="#">Hypixel Forums</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h5>Resources</h5>
      <ul>
        <li><a href="#">Minecraft</a></li>
        <li><a href="#">Hypixel</a></li>
        <li><a href="#">Cryptowat.ch</a></li>
      </ul>
    </div>
  </div>
</div>