<div class="navbar">
  <div class="nav-sec border-r dropbtn" onclick="dropdown('arbitrageDropdown')">
    <span class="nav-logo-helper dropbtn"></span><img class="nav-logo dropbtn" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo image" onerror="this.onerror=null; this.src='../../static/img/skyblock/NULL.webp'"/><span class="nav-text dropbtn">Minance <i class="fas fa-chevron-down arrow-down dropbtn"></i></span>
    <div id="arbitrageDropdown" class="dropdown-content d-none">
      <div class="row">
        <div class="col-6">
          <h5>Market data</h5>
          <ul>
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('asset.assets') }}">Assets</a></li>
            <li><a href="{{ url_for('main.bazaar') }}">Bazaar</a></li>
            <li><a href="{{ url_for('main.about') }}">About</a></li>
            <!-- <li><a href="{{ url_for('portfolio.portfolio_dash') }}">Portfolio</a></li> -->
          </ul>
        </div>
        <div class="col-6"  style="border-left: 1px solid #222222;">
          <h5>What is Minance?</h5>
          <p>Minance is a real-time Hypixel Skyblock bazaar tracker.<br><br>
          Minance monitors every item on the bazaar with updates every fifteen seconds, Minance won't miss a crash or rally.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-sec">
    <form method="POST" action="{{ url_for('main.search') }}">
      <div class="search-bar">
        <i class="fas fa-search"></i>
          {{ searchForm.hidden_tag() }}
          
          {{ searchForm.query(class="search-field invalid", placeholder="Search") }}
      </div>
    </form>
  </div>
  <div class="nav-sec link-sec">
    <ul class="nav-links">
      <li class="nav-item"><a href="{{ url_for('main.home') }}" class="{{ 'pop-alt' if active_page == 'index' else '' }}">Home</a></li>
      <li class="nav-item"><a href="{{ url_for('asset.assets') }}" class="{{ 'pop-alt' if active_page == 'assets' else '' }}">Assets</a></li>
      <li class="nav-item"><a href="{{ url_for('main.bazaar') }}" class="{{ 'pop-alt' if active_page == 'bazaar' else '' }}">Bazaar Flip</a></li>
    </ul>
  </div>
  <div class="nav-sec right border-l padding-alt">
    <ul class="nav-links">
      {% if current_user.is_authenticated %}
        <li class="nav-item pop">{{ current_user.username }}</li>
        <li class="nav-item icon"><a href="{{ url_for('user.dashboard') }}"><i class="fas fa-user auth-icon"></i></a></li>
      {% else %}
        <li class="nav-item icon" onclick="openModal('authModal')"><a href="#"><i class="fas fa-user auth-icon"> <span class="pop">+</span></i></a></li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="ticker">
  {% for asset in random_assets %}
    <span class="ticker-item">
      <span class="ticker-img-helper"></span>
      <img class="ticker-img" src="{{ url_for('static', filename='img/skyblock/' + asset.name + '.webp') }}" alt="{{ asset.name }}" onerror="this.onerror=null; this.src='../../../static/img/skyblock/NULL.webp'"/>
      {{ asset.prettyName }}
      <span class="ticker-item-price">${{ "%.2f%%"|format(asset.margin) }}</span>
    </span>
  {% endfor %}
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="main-flashes">
          <div class="flash-message flash-{{category}}">
            <p>{{ message }}</p>
          </div>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}