<div class="notifications" id="notifications"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  var socket = io({ rememberTransport: false});
  socket.on("notification", (data) => {
    push(data["type"], data["title"], data["content"]);
    console.log("test");
  });
</script>