{% extends "layouts/layout.html" %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="https://code.highcharts.com/css/stocktools/gui.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://code.highcharts.com/css/annotations/popup.css"
/>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>

<script src="https://code.highcharts.com/stock/indicators/indicators-all.js"></script>
<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>

<script src="https://code.highcharts.com/modules/annotations-advanced.js"></script>
<script src="https://code.highcharts.com/modules/price-indicator.js"></script>

<div class="item">
  <h3>{{ asset.name.title().replace("_", " ") }}</h3>
  <h2>{{ asset.sellPrice }}</h2>
  <div class="stock-container" id="container" class="chart" style="background-color: #000000!important;"></div>
</div>
<script>
  Highcharts.getJSON(
    "http://localhost:5000/asset/{{asset.name}}/one_minute.json",
    function (data) {
      // split the data set into ohlc and volume
      var ohlc = [],
        volume = [],
        dataLength = data.length,
        i = 0;

      for (i; i < dataLength; i += 1) {
        ohlc.push([
          data[i][0], // the date
          data[i][1], // open
          data[i][2], // high
          data[i][3], // low
          data[i][4], // close
        ]);

        volume.push([
          data[i][0], // the date
          data[i][5], // the volume
        ]);
      }

      Highcharts.stockChart("container", {
        chart: {
          backgroundColor: "#000000"
        },
        plotOptions: {
          candlestick: {
            color: "red",
            upColor: "green",
            upLineColor: "green",
            lineColor: "red"
          },
        },
        yAxis: [
          {
            labels: {
              align: "left",
            },
            height: "80%",
            resize: {
              enabled: true,
            },
          },
          {
            labels: {
              align: "left",
            },
            top: "80%",
            height: "20%",
            offset: 0,
          },
        ],

        series: [
          {
            type: "candlestick",
            id: "ohlc",
            name: '{{ asset.name.title().replace("_", " ") }} Price',
            data: ohlc,
          },
          {
            type: "column",
            id: "volume",
            name: '{{ asset.name.title().replace("_", " ") }} Volume',
            data: volume,
            yAxis: 1,
          },
        ],
        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 800,
              },
              chartOptions: {
                rangeSelector: {
                  inputEnabled: false,
                },
              },
            },
          ],
        },
      });
    }
  );
</script>

{% endblock content %}
