{% extends "layouts/layout_no_margin.html" %} {% block content %}

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

<div class="tabs">
  <button class="tablink" onclick="openTab(event, 'sell')">Sell Candlestick Chart</button>
  <button class="tablink" onclick="openTab(event, 'buy')">Buy Candlestick Chart</button>
  <button class="tablink">5M <i class="fas fa-chevron-down" style="font-size: 0.6rem;"></i></button>
</div>

<div class="row border-bottom">
  <div class="col-6 border-right">
    <div id="sell" class="tabcontent" style="display: block;">
      <div id="sellChart"></div>
    </div>
    <div id="buy" class="tabcontent">
      <div id="buyChart"></div>
    </div>
  </div>
  <div class="col-6">
    <div id="lineChart"></div>
  </div>
</div>
<div class="row border-bottom" style="margin-top: 0;">
  <div class="stats-section">
    <div class="row" style="display: flex;">
      <div class="col-4 border-right">
        <h5 class="section-header">Latest Orders</h5>
        <div class="row">
          <div class="col-6">
            <h5 class="section-subheader">Sell Orders</h5>
            <table class="assets-table alt">
              <tr>
                <th class="letter-td">Unit Price</th>
                <th class="number-td">Amount</th>
                <th class="number-td">Orders</th>
              </tr>
              {% for order in pickle.loads(asset.sellOrders) %}
                <tr>
                  <a href="#"><td class="letter-td">{{ order[1] }}</td></a>
                  <td class="number-td">{{ order[0] }}</td>
                  <td class="number-td">{{ order[2] }}</td>
                </tr>
              {% endfor %}
            </table>            
          </div>
          <div class="col-6">
            <h5 class="section-subheader">Buy Orders</h5>
            <table class="assets-table alt">
              <tr>
                <th class="letter-td">Unit Price</th>
                <th class="number-td">Amount</th>
                <th class="number-td">Orders</th>
              </tr>
              {% for order in pickle.loads(asset.buyOrders) %}
                <tr>
                  <a href="#"><td class="letter-td">{{ order[1] }}</td></a>
                  <td class="number-td">{{ order[0] }}</td>
                  <td class="number-td">{{ order[2] }}</td>
                </tr>
              {% endfor %}
            </table>            
          </div>
        </div>
      </div>
      <div class="col-4 border-right">
        <h5 class="section-header">Statistics</h5>
        <div class="data-table">
          <div class="entry">
            <span class="entry-label">Sell Volume:</span> <span class="entry-data">{{ asset.sellVolume }}</span>
          </div>
          <div class="entry">
            <span class="entry-label">Sell Orders:</span> <span class="entry-data">{{ asset.sellOrderAmount }}</span>
          </div>
          <div class="entry">
            <span class="entry-label">Sell Moving Week:</span> <span class="entry-data">{{ asset.sellMovingWeek }}</span>
          </div>
        </div>
        <div class="data-table">
          <div class="entry">
            <span class="entry-label">Buy Volume:</span> <span class="entry-data">{{ asset.buyVolume }}</span>
          </div>
          <div class="entry">
            <span class="entry-label">Buy Orders:</span> <span class="entry-data">{{ asset.buyOrderAmount }}</span>
          </div>
          <div class="entry">
            <span class="entry-label">Buy Moving Week:</span> <span class="entry-data">{{ asset.buyMovingWeek }}</span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h5 class="section-header">Trading</h5>
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <div class="form-label">
              <p>Purchase Time</p>
            </div>
            <div class="form-field">
              {% if form.purchaseDate.errors %}
              {{ form.purchaseDate(class="invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.purchaseDate.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.purchaseDate(class="") }}
            {% endif %}
            {% if form.purchaseTime.errors %}
              {{ form.purchaseTime(class="invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.purchaseTime.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.purchaseTime(class="") }}
            {% endif %}  
            </div>
          </div>
          <div class="clear"></div>
          <div class="form-group">
            <div class="form-label">
              <p>Sell Time</p>
            </div>
            <div class="form-field">
              {% if form.sellDate.errors %}
              {{ form.sellDate(class="invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.sellDate.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.sellDate(class="") }}
            {% endif %}
            {% if form.sellTime.errors %}
              {{ form.sellTime(class="invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.sellTime.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.sellTime(class="") }}
            {% endif %}  
            </div>
          </div>
          <div class="clear">
          <div class="form-group" style="margin-top: 1rem;">
            {% if session["margin"] %}
              <div class="trade-output">
                <p>{{ session["margin"] }}</p>
              </div>
            {% endif %}
          </div>
          <div class="form-group form-buttons">
            {% if form.reset.errors %}
              {{ form.reset(class="invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.reset.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.reset(class="reset-btn") }}
            {% endif %}
            {% if form.check.errors %}
              {{ form.check(class="invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.check.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.check(class="check-btn") }}
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  createChart("sell", 1, "{{ asset.name }}")
  createChart("buy", 1, "{{ asset.name }}")
  createBuySellChart("{{ asset.name }}")
</script>

{% endblock content %}